#ignore the config file
backend/config.js

#OS junk
Thumbs.db
*.swp
*.swo
ctags.tmp
tags

#compiled stuff
static/out
build/out

.tingle.vim
backend/.tingle.vim

controllers/inbox.js
controllers/friends.js
controllers/invite.js
