<div class='contentwrapper search' style='margin:5px;width:570px;min-height:0px'>
	<input type='text' id='searchbox_mobile' class='t1' placeholder='search' onblur='showSuggestionBox(false)' onkeyup='search_Keydown(event)' value='{ unescape(location.hash.substring(9)).replace(/</g, '&lt;').replace(/>/g, '&gt;') }'>
<h2>"{ unescape(location.hash.substring(9)).replace(/</g, '&lt;').replace(/>/g, '&gt;') }"</h2>
	<% if (!data.error && data !== false) %>
		<% if (!data.users && !data.posts) %>
		<br><b>No results</b><br>
		Feel free to use your imagination, though.
		<% endif %>
	<% endif %>
	<script>
		if (data.users) {
			for (var i = 0; i < data.users.length; i++) {
				USERHANDLES[data.users[i].id] = data.users[i].username;
	</script>
	<div style='min-height:55px;'>
		<a href='/#/user/{data.users[i].id}' class='person'>
			<img src='{getAvatar(data.users[i].id)}' class='avatar'>
			{getDisplayName(data.users[i].id)}
		</a>
	</div>
	<script>
			}
		}

		setTimeout(function() { 
			if (data.posts) {
				for (var i = 0; i < data.posts.length; i++) {
					addTimelineEvent(data.posts[i]);
				}
			}
		}, 0);
	</script>
</div>

<% if (data.posts) %>
	<div id='timeline_container'></div>
<% endif %>

