<html>
<head>
<title>You've been invited to Sparklr!</title>
</head>
<body>
<b>{data.from}</b> has invited you to Sparklr, the new place to connect with friends.<br><br>
To accept this invitation and follow {data.from}, use the link below.<br>
<a href='https://sparklr.me/signup/{data.invite}/{encodeURIComponent(to)}'>Accept Invitation</a><br><br>
Sparklr is currently in limited, invite-only preview, so consider yourself lucky!<br><br>
If you need any help, just reply to this email and a human will assist you.<br><br>
Sparklr
