<html>
<head>
<title>Your friend wants you to check out Sparklr!</title>
</head>
<body>
<b>{data.from}</b> has invited you to check out Sparklr, the social network for anti-socials.<br><br>
To honor this invitation and check out {data.from}'s profile, use the link below.<br>
<a href='https://sparklr.me/#/user/{data.fromid}}'>Check it out!</a><br><br>
Sparklr is currently in limited preview, so consider yourself lucky!<br><br>
If you need any help, just reply to this email and a human will assist you.<br><br>
Sparklr

