<html>
<head>
<title>Here's your Sparklr Invitation</title>
</head>
<body>
Hi!<br><br>

Thanks for signing up for the Sparklr closed preview. Here's your invitation. ;)<br>
Use the link below to signup.<br><br>

<a href='https://sparklr.me/signup/0a4479dcd480daae94e275b764892224/'>https://sparklr.me/signup/0a4479dcd480daae94e275b764892224/</a><br><br>

We appreciate all your feedback and time while we shape the future of Sparklr.<br>
If you run into any problems, have questions, or need any help, just reply to this email, and a human will assist you.<br><br>

Once again, welcome to Sparklr!<br><br>
&lt;3<br>
Sparklr App
</body>
</html>
