html {
	overflow-x: none;
	overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #454050;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2A242E;
}
div::-webkit-scrollbar {
    width: 5px;
}
div::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #745B85;
}
div::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #cecece;
}

/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body { 
    color: #fff;
    background: #454050;
    margin: 0px;
    padding: 0px;
	font-family: 'PT Sans', sans-serif;
}

img { outline: 0 }

a { 
	color: #4F3075;
	text-decoration: none;
	outline: 0;
}
a.person { 
	color: #3a3a3a;
	font-weight: 700;
}

h2 {
    color: #555;
    font-weight: normal;
    font-size: 26px;
    padding: 3px;
    margin-bottom: 8px;
    margin-top: 0px;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	opacity: 0.1;
	width: 94%;
	margin-top: 15px;
}

#logo {
    float: left;
    margin-right: 240px;
    margin-left: 10px;
    cursor: pointer;
	display: inline-block;
	width: 140px;
	height: 50px;
	background-image: url(logo.png);
}

#header {
    font-size: 22px;
    margin: 0px;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
    top: 0px;
    text-align: center;
    background: #454050;
}

#navigation {
    display: inline-block;
    width: 810px;
    text-align: left;
}

#navigation a {
    margin-left: 15px;
    display: inline-block;
    margin-top: 7px;
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
    -webkit-transition: all 0.1s ease-in-out;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    opacity: 1;
	margin-right: 5px;
}
#navigation a.people {
    background-image: url(icons/people.png);
}
#navigation a.menu {
    background-image: url(icons/menu.png);
	display: none;
}
#navigation a.notifs {
    background-image: url(icons/notifs.png);
}
#navigation a.notifs.jiggle {
    background-image: url(icons/notifs2.png);
}
#navigation a.inbox {
    background-image: url(icons/chat.png);
}
#navigation a.inbox.jiggle {
	background-image: url(icons/chat2.png);
}
#navigation a:hover {
    opacity: 0.7;
}
#header img {
    vertical-align: baseline;
}
#navigation a img {
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3),
    inset 0px 0px 15px rgba(0,0,0,0.3)
    ;
    width: 32px;
    height: 32px;
}
#navigation input {
    width: 174px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    color: #fff;
    background: rgba(0,0,0,0.3);
    outline: none;
    padding: 8px;
    font-size: 15px;
    height: 15px;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 20px;
}

#frame {
    width: 790px;
    display: block;
    min-height: 640px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    color: #333;
}

#content {
    display: inline-block;
    width: 590px;
    float: left;
    margin-right: 20px;
}
.content{
	padding-bottom: 15px;
}
#sidebarwrapper {
    float: right;
    width: 180px;
}
div.contentwrapper {
    background: #fff;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #000;
    box-shadow: 0px 0px 5px 0px #000,
    inset 0px 0px 2px 0px #745B85;
    margin-bottom: 40px;
	word-wrap: break-word;
}
#sidebar {
    color: #fff;
    font-size: 15px;
    margin-top: 4px;
}
#sidebar a {
    color: #fff;
}
#sidebar > a, #sidebar div > a {
    color: rgba(255,255,255,0.9);;
    display: block;
    margin-bottom: 8px;
    opacity: 0.9;
    padding: 5px;
    font-size: 15px;
    border: solid 1px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.15);
    width: 180px;
    -webkit-transition: all 0.2s ease;
}
#sidebar a:hover {
    opacity: 1;
    color: #fff;
}
#sidebar a.star {
	opacity: 1;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.3);
}
#sidebar .friends {
    margin-top: 16px;
}
#sidebar .friends img {
    width: 40px;
    height: 40px;
    margin-right: 7px; 
}
#sidebar .friends a {
    display: block;
    font-size: 14px;
    height: 50px;
}
#sidebar span {
    font-size: 12px;
}
#sidebar_links { display: none; }
#friendslist {
    -webkit-transition: all 1s ease;
    position: relative;
}
div.fader {
    display: inline-block;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.7);
    -webkit-transition: all 0.5s ease;
    text-align: center;
}

div.popup {
    position: absolute;
    display: inline-block;
	-webkit-transition: all 0.7s ease-in-out;
	opacity: 0;
    background: #eaeaea;
    width: 300px;
    margin-left: -150px;
    margin-top: -150px;    
    left: 50%;
    top: 50%;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 15px #000;
	z-index: 100;
	color: #555;
}
div.lightbox {
    position: absolute;
    top: 100px;
	width: 100%;
	text-align: center;
}

div.lightbox img {
	opacity: 0;
	-webkit-transition: all 1s ease;
    box-shadow: 0px 0px 10px #000;
	max-height: 80%;
}

div.confirm {
    background: #fff;
    border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 15px #000;
	position: fixed;
	left: 50%;
	top: 45%;
	width: 500px;
	max-height: 450px;
	margin-left: -250px;
	margin-top: -125px;
	z-index: 100;
	-webkit-transition: all 0.3s ease-in-out;
	color: #333;
}

#friendslist {
    display: inline-block;
}

#friendslist .names {
	height: 40px; 
	vertical-align: middle;
	display: table-cell;
	padding-left: 3px;
	font-size: 14px;
	}

#friendslist a {
    display: block;
    height: 40px;
    margin-top: 10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	color: rgba(255,255,255,0.8);
}
#friendslist a img {
	-webkit-transition: all 0.2s ease;
}
#friendslist a.attn img {
    -webkit-animation-name: jiggle;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
	box-shadow: 0px 0px 10px #fff;
	margin-left: 9px;
}
.slideinfromright {
    -webkit-animation-name: slideinfromright;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier;
    -webkit-animation-delay: 0s;
}
.jiggle {
    -webkit-animation-name: jiggle;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    13% {
        -webkit-transform: rotate(8deg);
    }
    26% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(8deg);
    }
    63% {
        -webkit-transform: rotate(0deg);
    }
}
#friendslist img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
	float: left;
	margin-right: 5px;
}

#notificationlist {
    position: fixed;
    right: 10px;
    width: 220px;
    bottom: 5px;
}

#notificationlist div {
    border: solid 1px #222;
	border-radius: 5px;
	background: rgba(0,0,0,0.3);
    color: #fff;
    padding: 4px;
	padding-top: 7px;
    margin: 20px 10px;
    cursor: pointer;
    font-size: 13px;
	word-wrap: break-word;
}

#notificationlist div:hover {
	opacity: 0.8;
}

#notificationlist div .exit {
    opacity: 0;
    padding: 2px;
    float: right;
}

#notificationlist div:hover .exit {
    opacity: 1;
}
#notificationlist div:hover .exit:hover {
    background: #d2b8d4;
}
#notificationlist div img {
	max-width: 185px;
	max-height: 200px;
}
#notificationlist div .littleavatar {
	margin-left: 0px;
}
#notificationlist div a {
	color: #fff;
}

img { border: none }

p { outline: none; }
p[contenteditable=true] {
    background: rgba(0,0,0,0.3);
}

span.header {
    font-size: 24px;
    color: #444;
    margin-top: 10px;
    display: inline-block;
}

div.timelineitem {
    margin: 4px;
    margin-bottom: 10px;
    min-height: 50px;
    padding: 6px;
    background: rgba(255,255,255,1);
    border: solid 1px #454545;
	box-shadow: 0px 0px 3px #000;
    border-radius: 3px;
    position: relative;
	word-wrap: break-word;
}
div.timelineitem .time {
    opacity: 0.65;
}
div.timelineitem h2 {
    font-size: 13px;
    margin-bottom: 25px;
    padding: 0px;
    display: block;
}
img.littleavatar {
    width: 24px;
    height: 24px;
    margin: 4px;
    margin-top: -3px;
    vertical-align: top;
    border-radius: 15px;
	margin-right: 6px;
}
div.commentcount {
	margin-left:6px;
	margin-right:2px;
    float: right;
    border-radius: 2px;
    background: #5d4c68;
    padding: 5px;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 5px #000, 
    0px 0px 2px #000;
    border: solid 1px rgba(255,255,255,0.3);
}

div.timelineitem:hover div.commentcount {
    opacity: 1 !important;
}

div.commentcount.icon {
	padding:0px;
	background-repeat: no-repeat;
	width: 28px;
	height: 30px;
}

a.tag {
	display: inline-block;
	background: #594e64;
	color: #fff;
	padding: 0px 5px;
	border-radius: 4px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	border: solid 1px #76648b;
}

div.delete {
	background-image: url(icons/delete_white.png);
}

div.repost {
	background-image: url(icons/repost.png);
}

div.like {
	background-image: url(icons/like.png);
}

div.like.liked {
    box-shadow: 0px 0px 10px #c7316d, 
	0px 0px 10px #9b365e,
    0px 0px 2px #000;
}

div.picturepost {
    background-repeat: no-repeat;
	background-position: center center;
    margin: -5px;
    margin-bottom: 10px;
    cursor: pointer;
	padding: 0px;
	text-align: center;
}
div.picturepost img {
	max-width: 578px;
	max-height: 443px;
	margin-bottom: -4px;
}
div.contentwrapper div.picturepost {
	margin: 0px;
	margin-bottom: 10px;
}
div.picturepost h2 {
    opacity: 0.5;
}
div.picturepost div.content {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
}
div.picturepost:hover div.content {
    opacity: 0.05;
}
div.picturepost div.commentcount {
    background-color: rgba(54, 43, 61, 0.8);
}
div.rightcontrols {
    float: right;
    text-align: right;
}
div.rightcontrols div.time {
    position: relative;
    top: 0px;
    opacity: 0.8;
}
div.rightcontrols a.delete {
    float: right;
    margin: 2px;
    color: #fff;
    cursor: pointer;
	background-image: url(icons/delete.png);
	width: 16px;
	height: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    opacity: 0.3;
    font-size: 14px;
}
div.rightcontrols:hover a.delete {
    opacity: 0.6 !important;
}
div.comment {
	margin-bottom: 12px;
	word-wrap: break-word;
}

div.minipreview {
	display: none;
	margin: 2px;
}

div.minipreview img {
	max-width: 150px;
	max-height: 80px;
}

div.attachment {
	display: none;
}

div.attachment div, div.picturepost div {
	position: absolute;
	background: rgba(0,0,0,0.2);
	height: 22px;
	display: block;
	color: #fff;
	outline: 0;
	opacity: 0.4;
	-webkit-transition: all 0.1s ease;
	padding: 4px;
}

div.attachment div:focus {
	opacity: 1;
}

div.attachment:hover div, div.picturepost:hover div {
	opacity: 1;
}

#suggestionbox {
	position: absolute;
	display: none;
	z-index: 10;
	background: #fff;
	border: solid 1px #333;
	color: #333;
}

#suggestionbox div {
	padding: 5px;
	cursor: pointer;
}

#suggestionbox div:hover, #suggestionbox div.hover {
	background: #594e64;
	color: #fff;
}

#composerframe {
	border: solid 1px #bbb;
	margin-left: 55px;
}
#composerframe textarea {
	border: none;
	width: 455px;
	-webkit-transition: all 0.3s ease;
}

div.composercontrols {
	position:absolute;
	right: 15px;
	bottom:10px;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	background-image: url(icons/photos.png);
	display: block;
	width: 32px;
	height: 32px;
}
div.composercontrols input {
	width: 32px;
	height: 32px;
	opacity: 0;
}
div.composer:hover div.composercontrols {
	opacity: 0.3;
}

#remaining {
	opacity: 0;
	margin-top: 60px;
	-webkit-transition: all 0.3s ease;
}

img.avatar {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 1px #000;
    float: left;
    margin-right: 6px;
}

img.inlineimage {
	margin: 5px;
	max-width: 500px;
	max-height: 300px;
}

div.photos {
	margin: 2px;
	width: 285px;
	height: 200px;
    display: inline-block;
	position: relative;
	padding: 0px;
	background-size: cover !important;
	cursor: pointer;
}

div.profileheader {
    display: inline-block;
    width: 570px;
    margin: 5px;
    height: 290px;
    margin-bottom: 15px;
    padding: 0 0 10px 10px;
    background-position: 0% 30%;
    background-size: cover;
    opacity: 1;
    box-shadow: 0px 0px 5px #000,
        inset 0px 0px 35px 2px rgba(255,255,255,0.4),
    inset 0px 0px 2px rgba(255,255,255,0.4);
    position: relative;
	overflow: hidden;
}

div.profileheader a {
	color: white;
}

#profilebackground {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.6;
	background-size: cover;
}

p.headertitle {
    color: white;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px #000;
	padding: 0 0 2px 5px;
}
p.headersubtitle {
    margin: 3px 10px;
    color: white;
    width: 500px;
    text-shadow: 0px 0px 5px #000;
	padding-left: 3px;
}

div.profileheader div.controls {
	position:absolute;
	bottom:5px;
	right:3px;
}

div.profileheader div.actions {
	position:absolute;
	bottom:5px;
}

div.profileheader input {
	margin-right: 5px;
}

div.friend {
	display: inline-block;
	min-height: 65px;
	width: 282px;
	margin-left: 7px;
}

div.friend input {
	float: right;
	opacity: 0;
}

div.friend:hover input {
	opacity: 1;
}

input[type=button], input[type=submit] {
    border: solid 1px #9f9f9f;
    background: rgba(255,255,255,1);
    padding: 5px 5px;
    font-size: 15px;
    opacity: 0.9;
	font-family: 'PT Sans', sans-serif;
    color: #444;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
	margin: 0px 1px;
}

input[type=button]:hover, input[type=submit]:hover {
    box-shadow: 0px 0px 10px rgba(200,200,250,0.7);
    opacity: 1;
}

input.t1 {
    width: 285px;
    height: 25px;
    margin: 4px;
    font-size: 20px;
    border-radius: 4px;
    border: solid 1px #bbb;
    padding: 2px;
}

input.t1:focus {
    box-shadow: 0px 0px 10px #444466;
    outline: none;
}

input.s1 {
    width: 50px;
    height: 30px;
	margin: 10px;
    padding: 2px;
    border-radius: 2px;
    font-size: 22px;
    background: rgba(255,255,255,1);
    color: #444;
    margin: 3px;
}

textarea {
    width: 500px;
    padding: 4px;
    height: 40px;
    vertical-align: top;
	font-family: 'PT Sans', sans-serif;
    outline: none;
    resize: none;
	font-size: 15px;
	overflow: auto;
}

#scrollUpContent {
    display: inline-block;
    height: 400px;
    width: 100%;
    overflow: auto;
	padding-top: 8px;
}

div.time {
    position: absolute;
    bottom: 5px;
    right: 0px;
    float: right;
    margin-right: 5px;
    font-size: 11px;
    -webkit-transition: all 0.1s ease-in-out;
}

div.chatmsg:hover div.time {
    opacity: 0.5;
}

div.chatmsg .time {
    position: relative;
    opacity: 0;
}

div.chatmsg {
	margin-bottom: 15px;
    display: block;
    min-height: 27px;
	margin-left: 5px;
	word-wrap: break-word;
}

form.settings {
    padding: 10px;
}

form.settings label {
	padding: 2px;
	float: left;
	display: block;
	width: 200px;
	height: 40px;
}

form.settings label.radio {
	width: 600px;
	float: none;
	height: inherit;
}

form.settings input[type=radio] {
	float: left;
}

form.settings fieldset {
    border: none;
}

form.settings fieldset input {
	padding: 5px;
	font-size: 18px;
}

form.settings label p {
	margin: 5px;
	margin-left: 15px;
}

span.ok {
    color: #393;
}

span.error {
    color: #c33;
}

/* Bottom banner */
div.banner {
    position: fixed;
    bottom:0px;
    left: 0px;
    right: 0px;
    height: 20px;
    padding: 4px;
    padding-right: 10px;
    text-align: center;
    font-size: 15px;
    background: rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px #000;
    -webkit-animation-name: slideinfrombottom;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-transition: all 1s ease;
}
div.banner a {
    color: #aaa;
}
div.banner #dismiss {
    float: right;
    cursor: pointer;
}
div.popup textarea {
	width: 290px;
	height: 140px;
	margin: 2px;
}
#feedbackbtn {
	position: fixed;
	bottom: 5px;
	right: 5px;
	font-size: 11px;
}
#feedbackbtn a {
	color: #fff;
}

.pulse {
  	-webkit-animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
}

.flyout {
    -webkit-animation-name: flyout;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    position: relative;
}

.fadein {
    -webkit-animation-name: fadein;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes popin {
	0% {
		-webkit-transform: scale(0.1);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flyout {
    0% {

    }
    100% {
        top: -10px;
        opacity: 0;
    }
}

@-webkit-keyframes slideinfromright {
    0% {
        right: -200px;
    }
    100% {

    }
}

@-webkit-keyframes slideinfrombottom {
    0% {
        bottom: -100px;
    }
    100% {

    }
}

@-webkit-keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 0.8; }
    100% { opacity: 0.5; }
}

#scrolltotop{
	background-image: url(arrow.png);
	width: 64px;
	height: 64px;
	position: fixed;
	top: 10px;
	right: 10px;
	visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
	cursor: pointer;
}

/* Tag system */
#networks a {
	padding: 5px;
	color: #fff;
	display: inline-block;
	background: #2b2533;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	border: solid 1px #43394f;
	opacity: 0.6;
	box-shadow: inset 0px 0px 3px #000;
	margin: 3px;
}
h2 a.tag {
	background: #2b2533;
	border: solid 1px #43394f;
	box-shadow: inset 0px 0px 3px #000;
	padding: 3px 6px;
}

#searchbox_mobile {
	display: none;
}

cite {
	font-style: inherit;
	font-weight: inherit;
}

input {
	-webkit-appearance: none;
}

#networkheader input {
	margin: 4px;
}

span.mod {
	font-weight: bold;
	font-size: 12px;
	color: #980a40;
}

#dropdown {
	position:absolute;
	left: -200px;
	top: 20px;
	width: 200px;
	padding: 5px;
	background: #333;
	min-height: 50px;
	border: solid 1px #222;
	display:none;
	-webkit-transition: left 0.3s ease;
}

#dropdown a {
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	display: block;
	margin-bottom: 6px;
}

#dropdown img {
	width: 28px;
	height: 28px;
	margin-right: 5px;
	vertical-align: top;
}

#dropdowncover {
	display: none;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background: #000;
	opacity: 0.1;
	position:fixed;
}

@media all and (max-width: 799px) {
	@-ms-viewport {
		width: 480px;
		zoom: 0.8;
	}
	body {
		font-size: 19px;
		padding: 0px;
		margin: 0px;
		margin-top: 10px;
	}
	h2 { 
		font-size: 26px;
		margin-bottom: 8px;
	}
	#logo {
		margin-right: 0px;
		margin-left: 0px;
		display: inline-block;
	}
	#navigation {
		width: 100%;
		position: relative;
	}
	#navigation a {
		margin-left: 18px;
	}
	#navigation #links {
		float: right;
		padding-right: 5px;
	}
	#navigation a.menu {
		display: inline-block;
	}
	#navigation a.me {
		display: none;
	}
	#searchbox, #friendslist {
		display: none;
	}
	#sidebarwrapper {
		float: none;
		width: 100%;
	}
	#sidebar {
		padding-right: 10px;
		padding-left: 10px;
	}
	#sidebar > a:nth-last-child(1) {
		float: right;
	}
	#sidebar > a {
		display: inline-block;
		margin-left: 5px;
		width: inherit;
	}
	#sidebar div.unimportant {
		display: none;
	}
	#frame {
		width: 100%;
		min-height: 0px;
		margin: 0px;
		padding: 0px;
		margin-top: 5px;
	}
	#content {
		width: 100%;
		float: none;
		overflow: hidden;
		left: 0px;
		right: 0px;
		margin: 0px;
	}
	#composerframe {
		margin-left: 55px;
	}
	textarea {
		width: 80% !important;
	}
	div.profileheader {
		width: 100%;
		margin: 0px;
		margin-bottom: 5px;
	}
	div.profileheader div.controls {
		right:15px;
	}
	div.friend {
		width: inherit;
		display: block;
	}
	div.friend input {
		opacity: 1;
	}
	#feedbackbtn {
		display: none;
	}
	div.contentwrapper {
		margin-bottom: 0px;
		box-shadow: none;
	}
	div.contentwrapper.search #searchbox_mobile {
		display: inline-block;
	}
	div.contentwrapper.search h2 {
		display: none;
	}
	#notificationlist div {
		position: relative;
		min-height: 40px;
		background: rgba(255,255,255,0.8);
		border-radius: 10px;
		margin: 10px 10px;
		cursor: none;
	}
	#notificationlist div img.avatar {
		width: 40px;
		height: 40px;
	}
	#notificationlist {
		width: 200px;
		right: -20px;
		display: none;
	}
	* {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	#scrolltotop {
		display: none;
	}
	div.timelineitem {
		box-shadow: none;
	}
	div.commentcount {
		box-shadow: none;
	}
	div.contentwrapper {
		box-shadow: none;
	}
	#navigation a.people {
		display: none;
	}
	div.picturepost img {
		max-width: 388px;
	}
	#networks {
		display: none;
	}
	#mobilesearchbox {
		font-size: 22px;
		width: 175px;
		background: #222;
		color: #fff;
		margin: 12px 0px;
		border-radius: 4px;
		border: solid 1px #111;
	}
}
