blockquote {
	margin: 0 0 10px 25px;
}

body {
	margin: 0;
	padding: 0;

	color: #333;
	background: #efefef;

	font-size: 18px;
}

img {
	outline: 0;
}

a {
	text-decoration: none;

	color: #4f3075;
	outline: 0;
}

a.person {
	color: #3a3a3a;

	font-weight: 700;
}

.active:before {
	color: #BFA3BA;
}

h2 {
	margin-top: 0;
	margin-bottom: 8px;
	padding: 3px;

	color: #555;

	font-size: 40px;
	font-weight: normal;
}

hr {
	width: 94%;
	height: 1px;
	margin-top: 15px;

	opacity: .1;
	border: 0;
	background: #333;
}

#links a {
	display: inline-block;

	margin: 0 18px;
	margin-top: -8px;
	margin-right: 6px;

	-webkit-transition: all .05s ease-in-out;
	vertical-align: middle;

	opacity: 1;
	color: #fff;
	background-repeat: no-repeat;
}

#links a:hover {
	color: #ADACBE;
}

#header #logo{
	position: absolute;
	top: 3px;
	left: 8px;

	display: inline-block;

	width: 120px;
	height: 44px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 15px;

	cursor: pointer;
	letter-spacing: -2px;

	color: #fff;

	font-family: 'Courgette';
	font-size: 36px;
}

#signin input {
	width: 278px;
	margin: 5px;
	padding: 5px;

	border: 1px solid #ccc;

	font-size: 16px;
}

#signin input[type=button] {
	width: 290px;
	margin: 5px;

	background: #fff;

	-webkit-transition: all 0.1s ease;
}

#signin input[type=button]:hover {
	color: #eee;
	background: #69677C;
}

#signin #forgot_password {
	display: none;
}

#signin #forgot_password.show {
	display: inline-block;
}

#welcomebar .right {
	float: right;

	padding-right: 20px;
}

#welcomebar a {
	text-decoration: underline;

	color: #ede;
}

#welcomebar .right a {
	text-decoration: none;

	color: #fff;
}

div.tabs{
	text-align: center;
}

div.tabs a {
	display: inline-block;

	min-width: 95px;
	margin-left: 2px;
	padding: 4px 20px;

	color: #555;
	background: #fff;
}
div.tabs a.active {
	color: #fff;
	background: #444;
}

#loading {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	display: block;

	width: 0;
	height: 5px;

	-webkit-transition: all .2s ease;

	background: #756c88;
}

span.admin, span.mod{
	display: inline-block;

	width: 16px;
	height: 16px;
	margin-left: 3px;
}

span.admin {
	background-image: url(img/adsta.png);
}
span.mod{
	background-image: url(img/babysta.png);
}

/* Tag system */
h2 a.tag {
	padding: 3px 6px;

	border: solid 1px #43394f;
	background: #2b2533;
	box-shadow: inset 0 0 3px #000;
}

cite {
	font-weight: inherit;
	font-style: inherit;
}

@-webkit-keyframes pulse {
	0% { opacity: .5; }
	50% { opacity: .8; }
	100% { opacity: .5; }
}

@-webkit-keyframes popin {
	0% {
		-webkit-transform: translate(-105px, 0) scale(.9);

		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes flyout {
	0% {
	}
	100% {
		top: -10px;

		opacity: 0;
	}
}

@-webkit-keyframes slideinfromright {
	0% {
		right: -200px;
	}
	100% {
	}
}

@-webkit-keyframes slideinfrombottom {
	0% {
		bottom: -100px;
	}
	100% {
	}
}
.pulse {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
}

.flyout {
	position: relative;

	-webkit-animation-name: flyout;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}

.fadein {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: .4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}
.popin {
	-webkit-animation-name: popin;
	-webkit-animation-duration: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;

	font-size: 18px;
}
.popin time{
	font-size: 12px;
}

/* Bottom banner */
div.banner {
	position: fixed;
	right: 0;
	bottom:0;
	left: 0;

	height: 20px;
	padding: 4px;
	padding-right: 10px;

	-webkit-transition: all 1s ease;
	-webkit-animation-name: slideinfrombottom;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	text-align: center;

	color: #fff;
	background: rgba(0,0,0,.75);
	box-shadow: 0 0 10px #000;

	font-size: 15px;
}

div.banner a {
	color: #aaa;
}
div.banner #dismiss {
	float: right;

	cursor: pointer;
}
div.popup textarea {
	width: 290px;
	height: 140px;
	margin: 2px;
}
#footer {
	position: absolute;
	bottom: 5px;

	margin-left: 50px;

	color: #fff;

	font-size: 11px;
}
#footer a {
	color: #fff;
}

span.ok {
	color: #393;
}

span.error {
	color: #c33;
}

div.chatmsg {
	display: block;

	min-height: 27px;
	margin-bottom: 15px;
	margin-left: 5px;

	word-wrap: break-word;
}

form.settings {
	padding: 10px;
}

form.settings label {
	display: block;
	float: left;

	width: 200px;
	height: 40px;
	padding: 2px;
}

form.settings label.radio {
	float: none;

	width: 600px;
	height: inherit;
}

form.settings input[type=radio] {
	float: left;
}

form.settings fieldset {
	border: none;
}

form.settings fieldset input {
	padding: 5px;

	font-size: 18px;
}

form.settings label p {
	margin: 5px;
	margin-left: 15px;
}

div.chatmsg time {
	position: relative;
	float: right;
	opacity: 0;
}

div.chatmsg:hover time {
	opacity: 0.5;
}

time {
	font-size: 12px;
	vertical-align: top;
}

time.float {
	position: absolute;
	top: inherit;
	right: 0;
	bottom: 5px;

	margin-right: 5px;

	-webkit-transition: all .1s ease-in-out;

}

textarea {
	overflow: hidden;

	width: 500px;
	height: 40px;
	padding: 4px;

	resize: none;
	vertical-align: top;

	outline: none;

	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}

input[type=button]:hover, input[type=submit]:hover {
	color: #fff;
	border: 1px solid #302c37;
	background-color: #454050;
}

input[type=button], input[type=submit] {
	margin: 5px 0;
	padding: 5px 5px;

	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;

	color: #444;
	border: solid 1px #999;
	background: #fff;

	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}
input[type=button]{
	margin: 5px -6px;
	padding: 7px;
}
input[type=button]:first-child{
	margin-left: 6px;

	border-radius: 10px 0 0 10px;
}
input[type=button].red:first-child:hover{
	color: #fff;
	border: 1px solid #742b22;
	background-color: #d0635e;
}
input[type=button]:last-child{
	border-radius: 0 10px 10px 0;
}
input[type=button]#editBtn{
	margin-left: 6px;

	border-radius: 10px;
}
.confirm input[type=button]{
	margin: -1px;
}

div.friend {
	position: relative;

	display: inline-block;

	width: 200px;
	height: 200px;
	margin: 6px;
	margin-right: 26px;

	border: solid 1px #aaa;
	background-size: cover;
}

div.friend b {
	display: inline-flex;

	box-sizing: border-box;
	width: 100%;
	padding: 5px;

	color: #fff;
	background: rgba(0,0,0,.5);

	font-weight: normal;
}

div.friend input {
	position: absolute;
	right: 5px;
	bottom: 5px;

	opacity: 0;
}

div.popup {
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;

	display: inline-block;

	width: 300px;
	margin-top: -150px;
	margin-left: -150px;
	padding: 10px;

	-webkit-transition: all .2s ease-in-out;

	opacity: 0;
	color: #555;
	background: #fff;

	font-family: 12px;
}

div.lightbox {
	position: fixed;
	z-index: 10000;
	top: 100px;
	left: 0;

	width: 100%;

	text-align: center;
}

div.lightbox img {
	max-width: 80%;
	max-height: 80%;

	-webkit-transition: all 1s ease;

	opacity: 0;
	box-shadow: 0 0 10px #000;
}

div.confirm {
	position: fixed;
	z-index: 15000;
	top: 45%;
	left: 50%;

	width: 500px;
	max-height: 450px;
	margin-top: -125px;
	margin-left: -250px;
	padding: 10px;

	-webkit-transition: all .2s ease-in-out;

	color: #333;
	background: #fff;
	border: solid 1px #000;
}

.jiggle {
	-webkit-animation-name: jiggle;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes jiggle {
	0% {
		-webkit-transform: rotate(0deg);
	}
	13% {
		-webkit-transform: rotate(8deg);
	}
	26% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(8deg);
	}
	63% {
		-webkit-transform: rotate(0deg);
	}
}

#notificationlist {
	position: fixed;
	z-index: 10000;
	right: 10px;
	bottom: 5px;

	width: 220px;
}

#notificationlist div {
	margin: 20px 10px;
	padding: 4px;
	padding-top: 7px;

	cursor: pointer;
	word-wrap: break-word;

	color: #fff;
	border: solid 1px #333;
	background: #454050;

	font-size: 13px;
}

#notificationlist div:hover {
	opacity: .8;
}

#notificationlist div .exit {
	float: right;

	padding: 2px;

	opacity: 0;
}

#notificationlist div:hover .exit {
	opacity: 1;
}

#notificationlist div:hover .exit:hover {
	background: #d2b8d4;
}

#notificationlist div.inlineimage {
	width: 155px;
	height: 100px;
}

#notificationlist div .littleavatar {
	margin-left: 0;
}

#notificationlist div a {
	color: #fff;
}

#notifications > div {
	position: relative;

	min-height: 60px;

	cursor: pointer;
}

.notification {
	overflow: hidden;

	min-height: 70px;
	margin-bottom: 2px;
}

.notification.read {
	opacity: .5;
}

img { border: none; }

p { outline: none; }
p[contenteditable=true] {
	background: rgba(0,0,0,.3);
}

span.header {
	display: inline-block;

	margin-top: 10px;

	color: #444;

	font-size: 24px;
}

div.timelineitem {
	position: relative;

	display: block;

	width: 880px;
	min-height: 50px;
	margin-bottom: 18px;

	word-wrap: break-word;
}

div.timelineitem time {
	opacity: .65;
}

div.timelineitem h1 {
	display: block;

	margin: 3px;
	padding: 0;

	font-size: 26px;
}

div.timelineitem h2 {
	display: block;

	margin-bottom: 25px;
	padding: 0;

	font-size: 13px;
}

img.littleavatar {
	width: 24px;
	height: 24px;
	margin: 4px;
	margin-top: -3px;
	margin-right: 6px;

	vertical-align: top;

	border-radius: 15px;
}

div.commentcount {
	float: right;

	height: 18px;
	margin-right:2px;
	margin-left:6px;
	padding: 8px;

	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;

	color: #fff;
	background: #52515D;

	font-size: 16px;
	line-height: 20px
	display: inline-block;
}

div.timelineitem .commentcount {
	opacity: 0;
}

div.timelineitem:hover div.commentcount {
	opacity: 1 !important;
}

div.post {
	margin: -5px;
	padding: 7px;

	word-wrap: break-word;
}

div.post div.user {
	display:inline-block;
	float:left;

	height:100%;
}

div.post div.commentcount.icon{
	opacity: 1;
}

a.tag {
	display: inline-block;

	padding: 0 5px;

	color: #fff;
	border: solid 1px #76648b;
	border-radius: 4px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	background: #594e64;
}

div.icon.liked {
	background-color: #7e5a82;
}

div.picturepost {
	margin: -5px;
	margin-bottom: 10px;
	padding: 0;

	cursor: pointer;
	text-align: center;

	background-repeat: no-repeat;
	background-position: center center;
}

div.picturepost img {
	max-width: 100%;
	max-height: 740px;
	margin-bottom: -4px;
}

div.picturepost.full img {
	max-width: 100%;
	max-height: 720px;
}

div.contentwrapper div.picturepost {
	margin: 0;
	margin-bottom: 10px;
}

div.picturepost h2 {
	opacity: .5;
}

div.picturepost div.content {
	-webkit-transition: all .3s ease;

	opacity: 1;
}

div.picturepost:hover div.content {
	opacity: .05;
}

div.picturepost div.commentcount {
	background-color: rgba(54, 43, 61, .8);
}

div.rightcontrols {
	position: relative;

	float: right;

	width: 100px;

	text-align: right;
}

div.rightcontrols time {
	position: absolute;
	top: 0;
}

div.rightcontrols a.icon-remove {
	float: right;

	width: 16px;
	height: 16px;
	margin: 2px;

	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;

	opacity: .3;

	font-size: 14px;
}

div.rightcontrols:hover a.icon-remove {
	opacity: .6 !important;
}

div.comment {
	margin-bottom: 12px;

	word-wrap: break-word;
}

div.minipreview {
	display: none;

	height: 325px;
	margin-bottom: 5px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

div.attachment {
	display: none;

	height: 325px;

	background-size: contain;
}

div.attachment div, div.picturepost div {
	position: absolute;

	display: block;

	height: 22px;
	padding: 4px;

	-webkit-transition: all .1s ease;

	opacity: .4;
	color: #fff;
	outline: 0;
	background: rgba(0,0,0,.2);
}

div.attachment div:focus {
	opacity: 1;
}

div.attachment:hover div, div.picturepost:hover div {
	opacity: 1;
}

#suggestionbox {
	position: absolute;
	z-index: 99999999;

	display: none;

	color: #333;
	border: solid 1px #333;
	background: #fff;
}

#suggestionbox div {
	padding: 5px;

	cursor: pointer;
}

#suggestionbox div:hover, #suggestionbox div.hover {
	color: #fff;
	background: #594e64;
}

#composerframe {
	position: relative;

	margin-left: 55px;

	border: solid 1px #bbb;
	background: #fff;
}

#composerframe textarea {
	width: calc(100% - 70px);

	-webkit-transition: all .3s ease;

	border: none;
}

div.composer div.controls {
	float: left;
	cursor: pointer;
}

div.composercontrols {
	position:absolute;
	right: 18px;
	top: 8px;

	display: block;

	width: 32px;
	height: 32px;

	-webkit-transition: all .5s ease;

	opacity: 0;
	background-image: url(img/photos.png);

	cursor: pointer;
}

div.composercontrols input {
	width: 32px;
	height: 32px;

	cursor: pointer;

	opacity: 0;
}

div.composer:hover div.composercontrols {
	opacity: .3;
}

div.remaining {
	margin-top: 20px;

	-webkit-transition: all .3s ease;

	opacity: 1;
}

img.avatar {
	float: left;

	width: 50px;
	height: 50px;
	margin-right: 6px;

	border-radius: 55px;
	box-shadow: 0 0 1px #000;
}

#profileheader {
	position: relative;

	overflow: hidden;

	width: 100%;
	height: 290px;
	margin: -10px 0 0 -10px;
	padding: 20px 18px 0 0;

	text-align: center;

	opacity: 1;
	color: #fff;
	background-position: 0 30%;
	background-size: cover;
}

#profileheader a {
	color: #fff;
}

#profileheader img.avatar {
	position: relative;
	top: 10px;

	float: none;

	border-radius: 30px;
}

#profileheader #userDisplayName {
	display: block;

	margin-top: 10px;
	margin-bottom: 0;
	padding: 0 0 0 5px;

	color: white;

	font-size: 38px;
}

#profileheader p {
	display: block;

	margin: 0 10px 3px;
	padding-left: 3px;

	color: white;
	text-shadow: 0 0 6px #000;

	font-size: 18px;
}

#profileheader #editBtn{
	position: absolute;
	top: 10px;
	left: 10px;
}

#profileheader div.controls {
	position:absolute;
	bottom: 10px;
	left: 9px;
}

#profileheader div.settings {
	position: absolute;
	top: 10px;
	right: 15px;
}

#profileheader div.actions {
	position:absolute;
	bottom:5px;
}

#profileheader input {
	margin-right: 5px;
}


div.friend:hover input {
	opacity: 1;
}

div.popup_post {
	position: absolute;
	z-index: 100;
	left: 50%;

	display: inline-block;

	width: 580px;
	margin-top: 100px;
	margin-left: -390px;

	-webkit-transition: all .7s ease-in-out;

	opacity: 0;
	color: #555;
}

input {
	-webkit-appearance: none;
}

div.inlineimage {
	display: block;

	width: 200px;
	height: 200px;
	margin: 5px;

	cursor: pointer;

	border: none !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
}

#cssloader {
	position: relative;
	width: 62px;
	height: 77px;
}

.blockG {
	position: absolute;
	background-color: #FFFFFF;
	width: 10px;
	height: 24px;
	-webkit-border-radius: 8px 8px 0 0;
	-webkit-transform: scale(0.4);
	-webkit-animation-name: fadeG;
	-webkit-animation-duration: 0.96s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
}

#rotateG_01{
	left: 0;
	top: 28px;
	-webkit-animation-delay: 0.36s;
	-webkit-transform: rotate(-90deg);
}

#rotateG_02{
	left: 8px;
	top: 10px;
	-webkit-animation-delay: 0.48s;
	-webkit-transform: rotate(-45deg);
}

#rotateG_03{
	left: 26px;
	top: 3px;
	-webkit-animation-delay: 0.6s;
	-webkit-transform: rotate(0deg);
}

#rotateG_04{
	right: 8px;
	top: 10px;
	-webkit-animation-delay: 0.72s;
	-webkit-transform: rotate(45deg);
}

#rotateG_05{
	right: 0;
	top: 28px;
	-webkit-animation-delay: 0.84s;
	-webkit-transform: rotate(90deg);
}

#rotateG_06{
	right: 8px;
	bottom: 7px;
	-webkit-animation-delay: 0.96s;
	-webkit-transform: rotate(135deg);
}

#rotateG_07{
	bottom: 0;
	left: 26px;
	-webkit-animation-delay: 1.08s;
	-webkit-transform: rotate(180deg);
}

#rotateG_08{
	left: 8px;
	bottom: 7px;
	-webkit-animation-delay: 1.2s;
	-webkit-transform: rotate(-135deg);
}

@-webkit-keyframes fadeG{
	0% {
		background-color: #544A6B;
	}

	100% {
		background-color: #FFFFFF;
	}
}

