html, body {
	height: 100%;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	background: #111;
}

#header {
	position: fixed;
	z-index: 9950;
	top: 0;
	left: 50%;

	width: 1090px;
	height: 46px;
	margin: 0;
	margin-bottom: 5px;
	margin-left: -550px;
	padding: 8px 10px 8px 10px;

	text-align: center;

	background: #454050;

	font-size: 22px;
}

#links {
	float: right;

	margin-bottom: 5px;
	margin-left: -13px;

	font-size: 28px;
}

#links img {
	margin-top: 14px;
}

#header img {
	vertical-align: baseline;
}

.useravatar {
	width: 100px;
	height: 100px;
	margin: auto;

	border-radius: 60px;
}

#header .useravatar {
	display: block;

	width: 32px;
	height: 32px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;

	cursor: pointer;
}

#navigation input {
	width: 124px;
	height: 15px;
	margin: 5px 5px;
	margin-left: 12px;
	padding: 8px;

	vertical-align: top;

	color: #fff;
	border: solid 1px rgba(0,0,0,.4);
	outline: none;
	background: rgba(0,0,0,.3);

	font-size: 15px;
}

#frame {
	position: relative;
	left: 50%;

	display: block;
	overflow-x: hidden;
	overflow-y: inherit;

	width: 1100px;
	min-height: 100%;
	margin-top: 0;
	margin-left: -550px;
	padding-top: 1px;

	color: #333;
	background: #fff;
}

#content {
	width: 940px;
	margin-right: 20px;
	padding-top: 65px;
}

.content {
	padding-bottom: 15px;
}

#sidebarwrapper {
	position: fixed;
	z-index: 20;
	top: 60px;
	right: 0;
	right: 50%;
	bottom: 0;

	display: block;

	width: 175px;
	margin-right: -560px;

	background: #454050;
}

#sidebarwrapper a {
	height: auto;

	text-align: left;

	color: #fff;

	font-size: 12px;
}

#sidebar {
	margin-top: 14px;

	color: #fff;

	font-size: 15px;
}

#sidebar > a, #sidebar div > a, #networks a {
	display: block;

	margin-bottom: 5px;
	padding: 5px;
	padding-left: 25px;

	-webkit-transition: all .2s ease;

	color: #fff;

	font-size: 16px;
}

#sidebar > a:hover, #sidebar div > a:hover, #networks a:hover {
	background-color: #6a5f80;
}

a.network.active {
	background: rgba(0,0,0,.35);
}

#sidebar a:hover {
	color: #fff;
}

#fader {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: inline-block;

	-webkit-transition: all .5s ease;
	text-align: center;

	opacity: 0;
	background: rgba(0,0,0,.7);
}

#fader.show {
	z-index: 9999;

	opacity: 1;
}

#windowcontainer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
}

div.window {
	position: absolute;
	bottom: 0;

	display: inline-block;

	margin: 0 10px;

	-webkit-transition: left .1s ease;

	color: #333;
	border: solid 1px #999;
	background: #fff;
}

div.window div.title {
	height: 24px;
	padding: 2px;

	color: #fff;
	background: #454050;
}

div.window div.title a {
	float: right;

	margin: 0;
	padding-right: 5px;

	cursor: pointer;

	color: #fff;

	font-weight: bold;
}

div.windowcontent {
	display: inline-block;
	overflow: hidden;

	width: 360px;
	height: 400px;
	margin: 0;
	padding: 0;
}

div.window div.contentwrapper {
	margin: 0;

	border: none;
}

div.window div.windowhidden {
	display:none;
}

div.scrollUpContent img.littleavatar {
	margin-top: 0;
}

div.scrollUpContent {
	overflow-x: hidden;
	overflow-y: auto;

	width: 340px;
	height: 320px;
	margin: 0;
	padding: 0;

	word-wrap: break-word;
}

div.chatcomposer {
	display: inline-block;

	width: 340px;
	margin-top: 5px;
	padding: 0;
}

#newposts {
	position: relative;
	left: 1%;

	display: none;

	width: 895px;
	margin: 8px 5px;
	padding: 5px;

	cursor: pointer;
	text-align: center;

	color: #fff;
	border: solid 1px #333;
	background: #454050;

	font-size: 15px;
}

input.t1 {
	width:275px;
	margin:7px;
	padding:6px;

	border: solid 1px #ccc;
}

#timeline_container {
	position: relative;
	left: 1%;

	overflow: hidden;
}

#sidepost_fader {
	position:absolute;
	z-index: -1;
	top: 61px;
	right: 175px;
	bottom: 0;
	left: 0;

	display: block;

	-webkit-transition: all .5s ease;

	opacity: 0;
	background: rgba(0,0,0,.25);
}

#sidepost_fader.show {
	z-index: 10;

	opacity: 1;
}

#sidepost_container {
	position: fixed;
	z-index: -1;
	top: 62px;
	bottom: 0;
	left: 50%;

	overflow-x: hidden;

	width: 620px;
	max-height: 100%;
	margin-left: -242px;
	padding-left: 5px;

	-webkit-transition: all .4s ease;
	-webkit-transform: translate(200px,0px);
	text-align: left;

	opacity: 0;
	border-left: solid 2px #ccc;
	background: #fff;
}

#sidepost_container.show {
	z-index: 15;

	-webkit-transform: none;

	opacity: 1;
}

#sidepost_container .contentwrapper {
	margin-right: 0;
	margin-left: 0;
}

#sidepost_container.user {
	position: absolute;
	top: 315px;
}

div.contentwrapper {
	position: relative;

	max-width: 700px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 6px;

	background: #fff;
}

#sidepost_container div.timelineitem {
	width: 95%;
}

#blacklist {
	margin:15px;
	padding-right:115px;
}

#blacklist input {
	width:400px;
	margin:5px;
}

#signin {
	text-align: center;
}

#welcomebar {
	position: relative;
	top: 66px;

	display: block;

	width: 920px;
	margin: -5px;
	margin-bottom: 6px;
	padding: 5px 10px;

	color: #fff;
	background: #6a5f80;

	font-size: 14px;
}

div.peoplebuttons {
	position: absolute;
	right: 185px;

	margin-top: -53px;
}

div.peoplebuttons input[type=button] {
	margin: 0 -1px;
	padding: 8px;

	color: #fff;
	border: 1px solid #302c37;
	background: #454050;

	font-size: 18px;
}

div.peoplebuttons input[type=button]:hover {
	background-color: #605774;
}

