body {
	background-color: #3f364a;
	font-family: 'Oxygen', sans-serif;
	color: #fff;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
	font-size: 14px;
}

a { color: white; }

#logo {
	background: url(logo_big.png);
	width: 572px;
	height: 215px;
	display: inline-block;
}
#content {
	position: relative;
	margin: auto;
	display: block;
	width: 590px;
	margin-top: 3%;
	-webkit-transition: all 0.5s ease;
}
#staticcontent {
	position: relative;
	margin: auto;
	display: block;
	width: 590px;
	margin-top: 8%;
	text-align: center;
	-webkit-animation-name: fadein;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
}

span {
	font-size: 30px;
	text-shadow: 0px 0px 15px #fff;
}

input.t1 {
	width: 200px;
	height: 34px;
	margin: 4px;
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 20px;
	border-radius: 4px;
	border: solid 1px #333;
	padding: 5px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5),
	0px 0px 5px rgba(0,0,0,0.25);
}

input.t1:focus {
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
	outline: none;
}

input.s1 {
	width: 70px;
	height: 48px;
	padding: 2px;
	border-radius: 5px;
	border: solid 1px rgba(0,0,0,1);
	font-size: 22px;
	background: rgb(74, 61, 90);
	box-shadow: inset 0px 0px 10px #fff;
	color: #fff;
	margin: 3px;
}

#signin {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 15px;
}

#callback {
	height: 20px;
	-webkit-transition: all 0.5s ease;
}

#loginform {
	opacity: 0;
	margin-top: 30px;
	-webkit-transition: all 1s ease-in-out;
}

#forgot {
	opacity: 0;
	-webkit-transition: all 1s ease-in-out;
}

.shake {
	-webkit-animation-name: shake !important;
	-webkit-animation-iteration-count: 2 !important;
	-webkit-animation-duration: 0.2s !important;
	-webkit-animation-timing-function: linear !important;
	-webkit-animation-delay: 0s !important;
}

@-webkit-keyframes shake {
	0% { 
		-webkit-transform: translate(-10px);
	}
	50% {
		-webkit-transform: translate(10px);
	}
	100% {
		-webkit-transform: translate(0px);
	}
}

@-webkit-keyframes fadein {
	0% { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

