
html {
	overflow-x: none;
	overflow-y: scroll;
}

blockquote{
	margin: 0 0 10px 25px;
}

body {
	background: #fff;

	font-family: Helvetica, sans-serif;
	font-size: 18px;
}

#header {
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 0px;
	left: 0px;

	margin: 0px;
	padding: 8px;

	color: #fff;
	background: #454050;

	font-size: 22px;
}

#links {
	float: right;

	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: -30px;

	font-size: 30px;
}

#links {
	display: inline-block;
	float: right;
}
#links a {
	display: inline-block;

	margin: 0 10px;
	margin-top: 7px;

	-webkit-transition: all 0.1s ease-in-out;

	opacity: 1;
	color: #fff;
	background-repeat: no-repeat;
}

#header #logo{
	display: inline-block;
	display: inline-block;

	width: 120px;
	height:52px;
	margin: auto;
	margin-top: 5px;
	margin-left: 5px;

	cursor: pointer;
	vertical-align: top;
	letter-spacing: -2px;

	color: #fff;

	font-family: 'Courgette';
	font-size: 32px;
}

#links a img {
	width: 32px;
	height: 32px;
}

#content {
	position: relative;

	margin: 8px;
	margin-top: 67px;
	padding: 0px;
}

#friendslist {
	position: relative;

	-webkit-transition: all 1s ease;
}
div.fader {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	display: inline-block;

	-webkit-transition: all 0.5s ease;
	text-align: center;

	background: rgba(0,0,0,0.7);
}

#dropdown {
	position:fixed;
	z-index: 9999;
	top: 57px;
	right: 0px;
	bottom: 0px;

	overflow: auto;

	width: 200px;
	min-height: 50px;
	padding: 5px;

	-webkit-transition: all 0.3s ease;
	-webkit-transform: translate(250px,0px);

	background: #3a3643;
}

#dropdown.visible {
	-webkit-transform: translate(0px,0px);
}

#dropdown a {
	display: block;

	margin-top: 4px;
	margin-bottom: 12px;

	color: #fff;

	font-size: 20px;
	font-weight: bold;
}

#dropdown img {
	width: 28px;
	height: 28px;
	margin-right: 5px;

	vertical-align: top;
}

#dropdowncover {
	position:fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;

	display: none;

	opacity: 0;
	background: #000;
}
#mobilesearchbox {
	width: 180px;
	height: 15px;
	margin: 5px auto;
	padding: 8px;

	vertical-align: top;

	color: #fff;
	border: solid 1px rgba(0,0,0,0.4);
	outline: none;
	background: rgba(0,0,0,0.3);

	font-size: 15px;
}

.bubbleout{
	position: relative;

	display: block;
}
.bubble{
	position: absolute;

	display: block;

	width: 200px;
	padding: 5px;

	color: #fff;
	border: 1px solid #111;
	background: rgba(0,0,0,0.3);
}
.leftb{
	left: -220px;

	border-radius: 10px 10px 0 10px;
}
.rightb{
	right: -220px;

	border-radius: 0 10px 10px 10px;
}

div.scrollUpContent img.littleavatar{
	margin-top: 0;
}

div.scrollUpContent {
	overflow-x: hidden;
	overflow-y: auto;

	width: 100%;
	height: 350px;
	margin: 0px;
	padding: 0px;

	word-wrap: break-word;
}

div.window div.scrollUpContent {
	display: inline-block;
	overflow: none;

	height: inherit;
	padding-bottom: 50px;
}

div.timelineitem {
	width: 100%;
	margin-bottom: 30px;
}

#newposts {
	position: relative;

	display: none;

	margin: 8px 4px;
	padding: 8px;

	cursor: pointer;
	text-align: center;

	color: #fff;
	border: solid 1px #887C91;
	background: #6C6274;
}

div.composer div.controls {
	float: left;
}

div.post {
	margin: -5px;
	padding: 7px;

	word-wrap: break-word;
}

div.post div.user {
	display:inline-block;
	float:left;

	height:100%;
}

div.notification {
	display: block;

	min-height: 60px;
}

.notification.read {
	opacity: 0.5;
}

#signin {
	z-index: 999999;
	top: 140px;

	text-align: center;
}

#welcomebar {
	position: relative;
	z-index: 9999;
	top: 64px;

	display: block;

	width: 100%;
	padding: 10px 0px;

	text-align: center;

	color: #fff;
	background: #333;

	font-size: 14px;
}

#composerframe textarea {
	width: 85%;
}

div.composercontrols {
	bottom: 10px;

	opacity: 0.5;
}

div.composercontrols input {
	position:absolute;
	right: 40px;
}

div.timelineitem .commentcount {
	opacity: 1 !important;
}

