html {
	overflow-x: none;
	overflow-y: scroll;
}

blockquote{
	margin: 0 0 10px 25px;
}

body {
	color: #333;
	background: #efefef;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}

img { outline: 0 }

a {
	color: #4F3075;
	text-decoration: none;
	outline: 0;
}
a.person { 
	color: #3a3a3a;
	font-weight: bold;
}

h2 {
	color: #555;
	font-weight: normal;
	font-size: 40px;
	padding: 3px;
	margin-bottom: 8px;
	margin-top: 0px;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	opacity: 0.1;
	width: 94%;
	margin-top: 15px;
}

#header {
	font-size: 22px;
	margin: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #454050;
	position: fixed;
	z-index: 1000;
	padding: 4px;
}

#links {
	display: inline-block;
	float: right;
}
#links a {
	margin: 0 8px;
	display: inline-block;
	margin-top: 7px;
	color: #fff;
	text-shadow: 0px 0px 2px #fff;
	-webkit-transition: all 0.1s ease-in-out;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	opacity: 1;
}
#links a.people {
	background-image: url(img/people.png);
}
#links a.menu {
	background-image: url(img/menu.png);
}
#links a.notifs {
	background-image: url(img/notifs.png);
}
#links a.notifs.jiggle {
	background-image: url(img/notifs2.png);
}
#links a.inbox {
	background-image: url(img/chat.png);
}
#links a.inbox.jiggle {
	background-image: url(img/chat2.png);
}

#header #logo{
	display: inline-block;
	width: 120px;
	height: 44px;
	margin: auto;
	margin-top: 5px;
	margin-left: 5px;
	font-family: 'Courgette';
	font-size: 30px;
	color: #fff;
	letter-spacing: -2px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

#links a img {
	box-shadow: 0px 0px 7px rgba(0,0,0,0.3),
	inset 0px 0px 15px rgba(0,0,0,0.3);
	width: 32px;
	height: 32px;
}

#content {
	margin: 4px;
	margin-top: 67px;
	padding: 0px;
}

div.contentwrapper {
	border: solid 1px #ccc;
	background: #fff;
	padding: 6px;
	position: relative;
	top: 10px;
	margin: auto;
}
#friendslist {
	-webkit-transition: all 1s ease;
	position: relative;
}
div.fader {
	display: inline-block;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.7);
	-webkit-transition: all 0.5s ease;
	text-align: center;
}

div.popup {
	position: absolute;
	display: inline-block;
	-webkit-transition: all 0.7s ease-in-out;
	opacity: 0;
	background: #eaeaea;
	width: 300px;
	margin-left: -150px;
	margin-top: -150px;    
	left: 50%;
	top: 50%;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 15px #000;
	z-index: 100;
	color: #555;
}
div.lightbox {
	position: fixed;
	top: 100px;
	width: 100%;
	text-align: center;
}

div.lightbox img {
	opacity: 0;
	-webkit-transition: all 1s ease;
	box-shadow: 0px 0px 10px #000;
	max-height: 80%;
}

div.confirm {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 15px #000;
	position: fixed;
	left: 50%;
	top: 45%;
	width: 500px;
	max-height: 450px;
	margin-left: -250px;
	margin-top: -125px;
	z-index: 100;
	-webkit-transition: all 0.3s ease-in-out;
	color: #333;
}

#friendslist {
	display: inline-block;
}

#friendslist .names {
	height: 40px; 
	vertical-align: middle;
	display: table-cell;
	padding-left: 3px;
	font-size: 14px;
}

#friendslist a {
	display: block;
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	color: rgba(255,255,255,0.8);
}
#friendslist a img {
	-webkit-transition: all 0.2s ease;
}
#friendslist a.attn img {
	-webkit-animation-name: jiggle;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 0s;
	box-shadow: 0px 0px 10px #fff;
	margin-left: 9px;
}
.slideinfromright {
	-webkit-animation-name: slideinfromright;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-timing-function: cubic-bezier;
	-webkit-animation-delay: 0s;
}
.jiggle {
	-webkit-animation-name: jiggle;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes jiggle {
	0% {
		-webkit-transform: rotate(0deg);
	}
	13% {
		-webkit-transform: rotate(8deg);
	}
	26% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(8deg);
	}
	63% {
		-webkit-transform: rotate(0deg);
	}
}
#friendslist img {
	width: 40px;
	height: 40px;
	border-radius: 2px;
	float: left;
	margin-right: 5px;
}

img { border: none }

p { outline: none; }
p[contenteditable=true] {
	background: rgba(0,0,0,0.3);
}

span.header {
	font-size: 24px;
	color: #444;
	margin-top: 10px;
	display: inline-block;
}

div.timelineitem {
	min-height: 50px;
	word-wrap: break-word;
	border: solid 1px #ccc;
	background: #fff;
	position: relative;
	margin: 4px;
	padding: 6px;
	overflow: hidden;
}
div.timelineitem time {
	opacity: 0.65;
}
div.timelineitem h2 {
	font-size: 13px;
	margin-bottom: 25px;
	padding: 0px;
	display: block;
}
img.littleavatar {
	width: 24px;
	height: 24px;
	margin: 4px;
	margin-top: -3px;
	vertical-align: top;
	border-radius: 15px;
	margin-right: 6px;
}
div.commentcount {
	margin-left:6px;
	margin-right:2px;
	float: right;
	background: #5d4c68;
	padding: 5px;
	color: white;
	cursor: pointer;
	border: solid 1px rgba(255,255,255,0.3);
	font-size: 16px;
	display: inline-block;
}

div.commentcount.icon {
	padding:0px;
	background-repeat: no-repeat;
	width: 28px;
	height: 30px;
}

a.tag {
	display: inline-block;
	background: #594e64;
	color: #fff;
	padding: 0px 5px;
	border-radius: 4px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	border: solid 1px #76648b;
}

div.delete {
	background-image: url(img/delete_white.png);
}

div.repost {
	background-image: url(img/repost.png);
}

div.like {
	background-image: url(img/like.png);
}

div.like.liked {
	background-color: #7e5a82;
}

div.content{
	margin-bottom: 15px;
}

div.picturepost {
	background-repeat: no-repeat;
	background-position: center center;
	margin: -5px;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 0px;
	text-align: center;
}
div.picturepost img {
	max-width: 90%;
	max-height: 540px;
	margin-bottom: -4px;
}
div.picturepost.full img {
	max-width: 100%;
	max-height: 620px;
}
div.contentwrapper div.picturepost {
	margin: 0px;
	margin-bottom: 10px;
}
div.picturepost h2 {
	opacity: 0.5;
}
div.picturepost div.content {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
}
div.picturepost div.commentcount {
	background-color: rgba(54, 43, 61, 0.8);
}
div.rightcontrols {
	float: right;
	text-align: right;
}
div.rightcontrols time {
	position: relative;
	top: 0px;
}
div.rightcontrols a.delete {
	float: right;
	margin: 2px;
	color: #fff;
	cursor: pointer;
	background-image: url(img/delete.png);
	width: 16px;
	height: 16px;
	font-size: 14px;
	opacity: 0.3;
}
div.comment {
	margin-bottom: 12px;
	word-wrap: break-word;
}

div.minipreview {
	display: none;
	margin: 2px;
}

div.minipreview img {
	max-width: 150px;
	max-height: 80px;
}

div.attachment {
	display: none;
	height: 225px;
	background-size: contain;
}

div.attachment div, div.picturepost div {
	position: absolute;
	background: rgba(0,0,0,0.2);
	height: 22px;
	display: block;
	color: #fff;
	outline: 0;
	opacity: 0.4;
	-webkit-transition: all 0.1s ease;
	padding: 4px;
}

div.attachment div:focus {
	opacity: 1;
}

#suggestionbox {
	position: absolute;
	display: none;
	z-index: 99999999;
	background: #fff;
	border: solid 1px #333;
	color: #333;
}

#suggestionbox div {
	padding: 5px;
	cursor: pointer;
}

#composerframe {
	border: solid 1px #bbb;
	margin: 0px;
	margin-left: 55px;
	background: #fff;
}

#composerframe textarea {
	border: none;
	width: 95%;
	-webkit-transition: all 0.3s ease;
}

div.composer div.controls {
	float: left;
}

div.composercontrols {
	position:absolute;
	right: 18px;
	bottom: 16px;
	opacity: 0.3;
	background-image: url(img/photos.png);
	display: block;
	width: 31px;
	height: 31px;
	overflow: hidden;
}
div.composercontrols input {
	width: 32px;
	height: 32px;
	opacity: 0;
}

div.remaining {
	opacity: 1;
	margin-top: 20px;
	-webkit-transition: all 0.3s ease;
}

img.avatar {
	width: 50px;
	height: 50px;
	box-shadow: 0px 0px 1px #000;
	float: left;
	margin-right: 6px;
}

div.inlineimage {
	margin: 5px;
	width: 200px;
	height: 200px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
}

div.photos {
	margin: 2px;
	width: 285px;
	height: 200px;
	display: inline-block;
	position: relative;
	padding: 0px;
	background-size: cover !important;
	cursor: pointer;
}

.useravatar{
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: auto;
}

#profileheader {
	margin: -5px;
	height: 290px;
	width: 100%;
	margin-bottom: 15px;
	margin-top: -10px;
	padding: 10px 0 10px 9px;
	background-position: 0% 30%;
	background-size: cover;
	opacity: 1;
	position: relative;
	overflow: hidden;
	text-align: center;
	color: #fff;
}

#profileheader a {
	color: #fff;
}

#profileheader img.avatar {
	float: none;
	top: 10px;
	position: relative;
	border-radius: 30px;
	margin-right: 0;
}

#profileheader #userDisplayName {
	color: white;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-shadow: 0px 0px 5px #000;
	padding: 0 0 0px 5px;
	display: block;
}

#profileheader p {
	display: block;
	margin: 0px 10px 3px;
	color: white;
	text-shadow: 0px 0px 6px #000;
	padding-left: 3px;
	font-size: 18px;
}

#profileheader #editBtn{
	position: absolute;
	top: 10px;
	left: 10px;
}

#profileheader div.controls {
	position:absolute;
	bottom:5px;
	right:3px;
}

#profileheader div.actions {
	position:absolute;
	bottom:5px;
}

#profileheader input {
	margin-right: 5px;
}

div.peoplebuttons{
	margin-bottom: 10px;
	margin-left: 5px;
}
div.peoplebuttons input[type=button]{
	background: #454050;
	padding: 8px;
	font-size: 18px;
	color: #fff;
	margin-right: 5px;
}

div.friend {
	width: 150px;
	height: 150px;
	display: inline-block;
	background-size: cover;
	border: solid 1px #aaa;
	margin: 6px;
	position: relative;
}

div.friend b {
	background: rgba(0,0,0,0.5);
	color: #fff;
	padding: 3px;
	font-weight: normal;
	width: 144px;
	position: absolute;
}

div.friend input {
	position: absolute;
	bottom: 5px;
	right: 5px;
	opacity: 0.5;
}

input[type=button], input[type=submit] {
	border: solid 1px #9f9f9f;
	background: rgba(255,255,255,1);
	padding: 5px 5px;
	font-size: 15px;
	opacity: 1;
	font-family: 'PT Sans', sans-serif;
	color: #444;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	margin: 0px 1px;
}

input.s1 {
	width: 50px;
	height: 30px;
	margin: 10px;
	padding: 2px;
	border-radius: 2px;
	font-size: 22px;
	background: rgba(255,255,255,1);
	color: #444;
	margin: 3px;
}

textarea {
	width: 500px;
	padding: 4px;
	height: 40px;
	vertical-align: top;
	font-family: 'PT Sans', sans-serif;
	outline: none;
	resize: none;
	font-size: 15px;
	overflow: hidden;
}

time {
	font-size: 12px;
	color: #777;
}

time.float {
	position: absolute;
	bottom: 5px;
	right: 0px;
	margin-right: 5px;
}

div.chatmsg time {
	position: relative;
	opacity: 0.5;
	text-align: right;
}

div.chatmsg {
	margin-bottom: 15px;
	display: block;
	min-height: 27px;
	margin-left: 5px;
	word-wrap: break-word;
}

form.settings {
	padding: 10px;
}

form.settings label {
	padding: 2px;
	float: left;
	display: block;
	width: 200px;
	height: 40px;
}

form.settings label.radio {
	width: 600px;
	float: none;
	height: inherit;
}

form.settings input[type=radio] {
	float: left;
}

form.settings fieldset {
	border: none;
}

form.settings fieldset input {
	padding: 5px;
	font-size: 18px;
}

form.settings label p {
	margin: 5px;
	margin-left: 15px;
}

span.ok {
	color: #393;
}

span.error {
	color: #c33;
}

/* Bottom banner */
div.banner {
	position: fixed;
	bottom:0px;
	left: 0px;
	right: 0px;
	height: 20px;
	padding: 4px;
	padding-right: 10px;
	text-align: center;
	font-size: 15px;
	background: rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px #000;
	color: #fff;
	-webkit-animation-name: slideinfrombottom;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-transition: all 1s ease;
}
div.banner a {
	color: #aaa;
}
div.banner #dismiss {
	float: right;
	cursor: pointer;
}
div.popup textarea {
	width: 290px;
	height: 140px;
	margin: 2px;
}
#footer {
	position: absolute;
	bottom: 5px;
	font-size: 11px;
	color: #fff;
}
#footer a {
	color: #fff;
}

.pulse {
	-webkit-animation-name: pulse;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
}

.flyout {
	-webkit-animation-name: flyout;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	position: relative;
}

.fadein {
	-webkit-animation-name: fadein;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
}

@-webkit-keyframes popin {
	0% {
		-webkit-transform: scale(0.1);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes flyout {
	0% {

	}
	100% {
		top: -10px;
		opacity: 0;
	}
}

@-webkit-keyframes slideinfromright {
	0% {
		right: -200px;
	}
	100% {

	}
}

@-webkit-keyframes slideinfrombottom {
	0% {
		bottom: -100px;
	}
	100% {

	}
}

@-webkit-keyframes pulse {
	0% { opacity: 0.5; }
	50% { opacity: 0.8; }
	100% { opacity: 0.5; }
}

/* Tag system */
h2 a.tag {
	background: #2b2533;
	border: solid 1px #43394f;
	box-shadow: inset 0px 0px 3px #000;
	padding: 3px 6px;
}

cite {
	font-style: inherit;
	font-weight: inherit;
}

span.admin {
	background-image: url(img/adsta.png);
}
span.mod{
	background-image: url(img/babysta.png);
}
span.admin, span.mod{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 3px;
}

#dropdown {
	position:fixed;
	top: 57px;
	right: 0px;
	bottom: 0px;
	width: 200px;
	overflow: auto;
	padding: 5px;
	background: #3a3643;
	min-height: 50px;
	-webkit-transition: all 0.3s ease;
	z-index: 9999;
	-webkit-transform: translate(250px,0px);
}

#dropdown.visible {
	-webkit-transform: translate(0px,0px);
}

#dropdown a {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	display: block;
	margin-top: 4px;
	margin-bottom: 12px;
}

#dropdown img {
	width: 28px;
	height: 28px;
	margin-right: 5px;
	vertical-align: top;
}

#dropdowncover {
	display: none;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background: #000;
	opacity: 0;
	position:fixed;
}
#mobilesearchbox {
	width: 180px;
	border: solid 1px rgba(0,0,0,0.4);
	color: #fff;
	background: rgba(0,0,0,0.3);
	outline: none;
	padding: 8px;
	font-size: 15px;
	height: 15px;
	vertical-align: top;
	margin: 5px auto;
}
div.tabs{
	text-align: center;
}
div.tabs a {
	padding: 4px 20px;
	margin-left: 2px;
	color: #555;
	background: #fff;
	display: inline-block;
	min-width: 95px;
}
div.tabs a.active {
	background: #444;
	color: #fff;
}

#loading {
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 5px;
	background: #756c88;
	-webkit-transition: all 0.2s ease;
	z-index: 1000;
}

.bubbleout{
	position: relative;
	display: block;

}
.bubble{
	position: absolute;
	display: block;
	padding: 5px;
	background: rgba(0,0,0,0.3);
	color: #fff;
	width: 200px;
	border: 1px solid #111;
}
.leftb{
	left: -220px;
	border-radius: 10px 10px 0 10px;
}
.rightb{
	right: -220px;
	border-radius: 0 10px 10px 10px;
}

div.scrollUpContent img.littleavatar{
	margin-top: 0;
}

div.scrollUpContent {
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	height: 350px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div.window div.scrollUpContent {
	display: inline-block;
	padding-bottom: 50px;
	overflow: none;
	height: inherit;
}

div.popup_post {
	position: absolute;
	display: inline-block;
	-webkit-transition: all 0.7s ease-in-out;
	opacity: 0;
	width: 580px;
	margin-left: -390px;
	margin-top: 100px;    
	left: 50%;
	z-index: 100;
	color: #555;
}

#newposts {
	color: #fff;
	text-align: center;
	display: none;
	position: relative;
	margin: 8px 4px;
	padding: 8px;
	background: #6C6274;
	border: solid 1px #887C91;
	cursor: pointer;
}

div.composer div.controls {
	float: left;
}

div.post {
	padding: 7px;
	margin: -5px;
	word-wrap: break-word;
}

div.post div.user {
	display:inline-block;
	float:left; 
	height:100%;
}

div.notification {
	display: block;
	min-height: 60px;
}

.notification.read {
	opacity: 0.5;
}

#signin {
	text-align: center;
	top: 140px;
	z-index: 999999;
}

#signin input {
	width: 285px;
	padding: 5px;
	margin: 5px;
	border: none;
	font-size: 16px;
}

#signin input[type=button] {
	margin: 5px;
	width: 290px;
	background: #fff;
}

#signin #forgot_password {
	display: none;
}

#signin #forgot_password.show {
	display: inline-block;
}

#welcomebar {
	position: relative;
	top: 64px;
	width: 100%;
	background: #333;
	display: block;
	z-index: 9999;
	color: #fff;
	font-size: 14px;
	padding: 10px 0px;
	text-align: center;
}

#welcomebar a {
	color: #ede;
	text-decoration: underline;
}

#welcomebar .right {
	float: right;
	padding-right: 20px;
}

