<h1>There's no easy way to say this, but...</h1>
Your browser is <i><b>old</b></i>.<br><br>
You may continue on your way, but your experience using Sparklr will be much better using one of the following:
<br>
<ul>
	<li>
<a href='https://www.google.com/chrome/' target='_blank'>Google Chrome</a><br>
	</li>
	<li>
<a href='http://www.mozilla.org/firefox/' target='_blank'>Firefox</a><br>
	</li>
	<li>
<a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' target='_blank'>Internet Explorer 10 or higher</a><br>
	</li>
</ul>
