<script>
	var s = location.hash.split("/");
	curChatUser = s[2];
</script>

<div class='contentwrapper'>
	<div style='background-image: url({imgUrl(curChatUser,true)}); margin: -5px -5px; width: 578px; height:200px;' class='profileheader'>
		<p class='headertitle fadein'><a href='#/user/{curChatUser}'>{ getDisplayName(curChatUser) }</a></p>
</div>
<div class='fadein' style='margin: 4px;'>
	<div id='scrollUpContent'>
	</div>
	{ renderComposer('Type a message...', 'sendChatMessage', true) }
</div>
</div>
<script>
	setTimeout(function() { 
		for (var i = data.length - 1; i >= 0; i--) {
			addChatMessage(data[i].from, data[i].message, data[i].time, false);
		}

		currentPageType = "CHAT";
		setupScrollHandler();
}, 0);
</script>
