<script>
	var user = fragments[2] || fragments[1];
	var convoid = user + "," + CURUSER;
</script>
<div class='contentwrapper'>
	<div class='windowhidden'>
		<h2>{getDisplayName(user)}</h2>
	</div>
	<div class='scrollUpContent' data-with='{user}' id='scrollUpContent_{convoid}'>
	</div>
	<div class='chatcomposer'>
		{renderComposer('Type a message...', 'sendChatMessage', true, 'chat_' + user)}
	</div>
</div>
<script>
	chatTimes[convoid] = [];

	setTimeout(function() { 
		for (var i = data.length - 1; i >= 0; i--) {
			addChatMessage(data[i].from, data[i].to, data[i].message, data[i].time, false);
		}

		var e = _g('scrollUpContent_'+convoid);
		e.addEventListener("DOMMouseScroll", scrollUpHandler);
		e.addEventListener("mousewheel", scrollUpHandler);
		_g("composer_chat_"+user).focus();
		window.onload = function() {
			_g("scrollUpContent_"+convoid).scrollTop = 0xFFFFFF; 
		};


		setWindowTitle('m'+convoid, getDisplayName(user));
	}, 0);
</script>
