<script>
	var user = fragments[2] || fragments[1];
	var convoid = user + "," + curUser;
</script>
<div class='contentwrapper'>
	<div class='windowhidden'>
		<h2>{getDisplayName(user)}</h2>
	</div>
	<div class='scrollUpContent' id='scrollUpContent_{convoid}'>
	</div>
	<div class='chatcomposer'>
		{renderComposer('Type a message...', 'sendChatMessage', true, 'chat_' + user)}
	</div>
</div>
<script>
	setTimeout(function() { 
		for (var i = data.length - 1; i >= 0; i--) {
			addChatMessage(data[i].from, data[i].to, data[i].message, data[i].time, false);
		}

		currentPageType = "CHAT";
		setupScrollHandler();
		_g("composer_chat_"+user).focus();
		window.onload = function() {
			_g("window_m"+convoid).scrollTop = 0xFFFFFF; 
		};

		setWindowTitle('m'+convoid, getDisplayName(user));
	}, 0);
</script>
