<!DOCTYPE html>
<html>
<head>
<title>Sparklr</title>
<link rel='stylesheet' href='{global.secureCommonHost}/{buildData.cssHash_external}.css'>
<link rel='canonical' href='http://sparklr.me/'>
<meta name="viewport" content="target-densitydpi=device-dpi, width=440, initial-scale=0.7, maximum-scale=0.7, user-scalable=0" />
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<meta name='description' content='Sparklr is the new place to connect with friends. Be among the first in our exclusive, invite-only beta.'>
<% if (!global.liveSite) %>
<script src='{global.commonHost}/external.js'></script>
<script src='{global.commonHost}/ui.js'></script>
<script src='{global.commonHost}/data.js'></script>
<% else %>
<script data-live src='{global.secureCommonHost}/{buildData.jsHash_external}.js'></script>
<% endelse %>
<script>
	var STATICHOST = "{global.staticHost}";
	var COMMONHOST = "{global.commonHost}";
	var AUTHKEY, curUser;
	(function(i,s,o,g,r,a,m){
	 i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-42747905-1', 'sparklr.me'); ga('send', 'pageview');
</script>
</head>
<body>
<div id='signin'>
	<a href='#/signin'>sign in</a>
</div>
<div id='loading'></div>

<div id='staticcontent'>
	<div id='logo'></div>
	<div id='callback'></div>
	<div id='content'></div>
</div>
<div id='pages' style='display:none'>
	<div data-page="forgot">
		Nice to see you back.
		<form onSubmit='resetPassword(password); return false;'>
			<input type='password' name='password' placeholder='new password' class='t1' autofocus='autofocus'>
			<input type='submit' value='&gt;' class='s1'>
		</form>
	</div>
	<div id='loginform' data-page="signin">
		<form onSubmit='trySignin(username,password); return false;' id='login'>
			<input type='text' name='username' id='username' placeholder='email or username' class='t1' autofocus='autofocus'>
			<input type='password' id='password' name='password' placeholder='password' class='t1'>
			<input type='submit' value='&gt;' name='go' class='s1'>
		</form>
		<div id='forgot'><a href='javascript:forgotPassword();'>Forgot?</a></div>
		<a href='#'>Don't have an account?</a>
	</div>
	<div data-page="thankyou">
		<h1>You're on the list!</h1><br><br>
		We'll let you know once it's your time to shine.<br><br>
		<br><a href='https://twitter.com/intent/tweet?via=sparklrme&url=https://sparklr.me/&text=Sparklr,%20the%20new%20place%20to%20connect%20with%20friends:%20' target='_blank'>Tweet about Sparklr</a>
	</div>
	<div data-page="signup">
		<h1>Welcome to Sparklr</h1><br><br>
		Let's get started.
		<form onSubmit='signUp(username,email,password,errors); return false;'>
			<input type='text' name='username' onblur='checkSignupForm(username,password,errors);' placeholder='username' class='t1' autofocus='autofocus'><br>
			<input type='email' name='email' placeholder='email' class='t1'><br>
			<input type='password' name='password' placeholder='password' class='t1'><br>
			<input type='submit' value='Sign up' name='go' class='s1'>
			<input type='hidden' name='errors'>
		</form>
	</div>
	<div id='page_default' data-page="info">
		<h1>The new place to connect with friends.</h1><br><br>
		<form onSubmit='requestInvite(email); return false;'>
			<input type='text' name='email' id='email' placeholder='email address' class='t1' autofocus='autofocus'>
			<input type='submit' value='Get Invited' name='go' class='s1'>
		</form>
		<br>
		<a class='biglink' href='http://blog.sparklr.me/post/57535021534/introducing-sparklr' target="_blank">More about Sparklr</a>
	</div>
</div>
</body>
</html>
