<div class='contentwrapper'>
<div style='float:right'>
	<input type='button' value='Invite Friends' onClick='inviteFriend();'>
</div>

<h2>following</h2>
<script>
	for (var i = 0; i < data.length; i++) {
</script>
	<div class='friend'>
		<input type='button' value='Unfollow' onclick='unfollow({data[i]});'>
		<a href='/#/user/{data[i]}' style='color:#000'><img src='{imgUrl(data[i])}' class='avatar'> <b>{getDisplayName(data[i])}</b></a>
	</div>
<script>
	}
</script>
<% if (data.length < 1) %>
You aren't following anyone right now! Try meeting someone random or inviting friends.
<% endif %>
<br><br>
<div style='text-align:center;margin:9px;'>
	<input type='button' value='Meet someone random' onclick='meetSomeoneRandom();'>
</div>
</div>
