<script>
	if(+new Date > 1378893600000){
		//lets hope this pushes omg
</script>
		<div id='birthday' class='fadein'>
			Surprise! Happy Birthday Jonathan! I love you c: ♥ivey
		</div>
<script>
	}
	if(curUser == 6){
		console.log("hi");
	}
</script>
<div id='header'>
	<div id='navigation'>
		<div id='logo' onClick='location.href="#";'></div>
		<div id='links'>
			<a href='#/friends' class='people' title='People'></a>
			<a href='#/notifications' class='notifs' title='Notifications' id='notifs'></a>
			<a href='#/inbox' class='inbox' title='Inbox' id='inbox'></a>
			<a href='javascript:showDropdown(true);stopBubbling();' class='menu' title='Menu'></a>
			<a href="#/user/{curUser}" title='Me' class='me'><img src='{imgUrl(curUser)}' width=45 height=45></a>
			<input type='text' id='searchbox' placeholder='search' onblur='showSuggestionBox(false)' onkeyup='search_Keydown(event)'>
		</div>
	</div>
</div>

<div id='frame'>
	<div id='sidebarwrapper'>
		<div id='sidebar'></div>
		<div id='networks'></div>
		<div id='friendslist'></div>
	</div>
	<div id='content'></div>
</div>

<div id='notificationlist'></div>
<div id='loading'></div>
<div id='profilebackground'></div>
<div id='suggestionbox'></div>
<div id='scrolltotop' onClick='scrollToTop()'></div>
<div id='feedback' style='display:none'>
	<form onsubmit='sendFeedback(desc.value);return false;'>
		<textarea name='desc'></textarea>
		<input type='submit' value='Send Feedback'>
	</form>
</div>
<div id='feedbackbtn'>
	<a href='tos.html'>Terms of Service</a> | 
	<a href='javascript:showFeedbackForm();'>Feedback</a>
</div>

<div id='dropdowncover' onclick='hideDropdown()'></div>
<div id='dropdown'>
	<a href='#/user/{curUser}/'><img src='{imgUrl(curUser)}' width=45 height=45> My profile</a>
	<input type='text' id='mobilesearchbox' placeholder='search' onblur='showSuggestionBox(false)' onkeyup='search_Keydown(event)'>
	<a href='#/friends'>People</a>
	<div id='dropdown_networklist'></div>
	<hr>
	<a href='#/settings'>Settings</a>
	<hr>
	<a href='javascript:signOff();'>Sign off</a>
</div>
