<% if (GUEST) %>
	<div id='welcomebar'>
		Welcome to Sparklr! Feel free to explore, post, settle in, and customize your profile. 
		<a href='#/settings'>Add an email address to save your profile</a>.
		<span class='right'><a href='javascript:showSignin();'>Already use Sparklr? Sign in</a>
	</div>
<% endif %>

<div id='frame'>
<div id='sidepost_fader' onclick='hideFader()'></div>
<div id='header'>
	<a href='#' title='Home'>
		<div id='logo'>sparklr*</div>
	</a>
	<!--
	<a href="#/user/{CURUSER}" title='Me'>
		<img class='useravatar' src='{getAvatar(CURUSER,false,true)}'>
	</a>
	-->
	<div id='navigation'>
		<div id='links'>
			<input type='text' id='searchbox' placeholder='search' onblur='showSuggestionBox(false)' onkeyup='search_Keydown(event)'>
			<a href='#/friends' class='people' title='People'></a>
			<a href='#/notifications' class='notifs' title='Notifications' id='notifs'></a>
			<a href='#/inbox' class='inbox' title='Inbox' id='inbox'></a>
		</div>
		<div id='sidebarwrapper'>
			<div id='sidebar'></div>
			<div id='networks'></div>
		</div>
	</div>
	<div id='footer'>
		<a href='tos.html' target="_blank">Terms of Service</a> - 
		<a href='etiquette.html' target="_blank">Etiquette</a> - 
		<a href='/#/staff'>Staff</a> - 
		<a href='javascript:showFeedbackForm();'>Feedback</a>
	</div>

	<div id='sidepost_container'></div>
</div>

	<div id='content'></div>
</div>

<div id='notificationlist'></div>
<div id='loading'></div>
<div id='suggestionbox'></div>
<div id='feedback' style='display:none'>
	<form onsubmit='sendFeedback(desc.value);return false;'>
		<textarea name='desc'></textarea>
		<input type='submit' value='Send Feedback'>
	</form>
</div>
<div id='windowcontainer'></div>
<div id='fader'></div>

