<div id='header'>
	<div id='navigation'>
		<div id='logo' onClick='location.href="#";'></div>
		<div id='links'>
			<a href='#/' class='home' title='Home'></a>
			<a href='#/friends' class='people' title='People'></a>
			<a href='#/inbox' class='inbox' title='Inbox' id='inbox'></a>
			<a href='#/search' class='search' title='Search'></a>
			<a href="#/user/{curUser}" title='Me'><img src='{imgUrl(curUser)}' width=45 height=45></a>
			<input type='text' id='searchbox' placeholder='search' onblur='showSuggestionBox(false)' onkeyup='search_Keydown(event)'>
		</div>
	</div>
</div>

<div id='frame'>
	<div id='sidebarwrapper'>
		<div id='sidebar'></div>
		<div id='networks'></div>
		<div id='friendslist'></div>
	</div>
	<div id='content'></div>
</div>

<div id='notificationlist'></div>
<div id='notificationdot' onClick='showNotifications();'></div>
<div id='loading'></div>
<div id='profilebackground'></div>
<div id='suggestionbox'></div>
<div id='scrolltotop' onClick='scrollToTop()'></div>
<div id='feedback' style='display:none'>
	<form onsubmit='sendFeedback(desc.value);return false;'>
		<textarea name='desc'></textarea>
		<input type='submit' value='Send Feedback'>
	</form>
</div>
<div id='feedbackbtn'><a href='javascript:showFeedbackForm();'>Feedback</a></div>

