<!DOCTYPE html>
<html>
<head>
	<title>Sparklr</title>
	<meta charset='utf-8'>
	<script>
		var STATICHOST = "{global.staticHost}";
		var IMGHOST = "{global.imgHost}";
		var POLL_INTERVAL = 1500;
		var MOBILE = false;
		var LIVE = {global.liveSite};
	</script>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Courgette' rel='stylesheet' type='text/css'>
	<% if (global.liveSite) %>
		<link rel='stylesheet' href='{global.staticHost}/app.css?{buildData.cssHash_frontend}'>
		<script data-live src='{global.staticHost}/app.js?{buildData.jsHash_frontend}'></script>
	<% else %>
		<script src='{global.staticHost}/templates.js'></script>
		<script src='{global.staticHost}/page.js'></script>
		<script src='{global.staticHost}/data.js'></script>
		<script src='{global.staticHost}/timeline.js'></script>
		<script src='{global.staticHost}/post.js'></script>
		<script src='{global.staticHost}/user.js'></script>
		<script src='{global.staticHost}/chat.js'></script>
		<script src='{global.staticHost}/ui.js'></script>
		<script src='{global.staticHost}/notification.js'></script>
		<script src='{global.staticHost}/profile.js'></script>
		<script src='{global.staticHost}/app.js'></script>
		<script src='{global.staticHost}/bugs.js'></script>
		<script src='{global.staticHost}/windows.js'></script>
		<!-- CONTROLLERS -->
		<script src='{global.staticHost}../controllers/chat.js'></script>
		<script src='{global.staticHost}../controllers/notifications.js'></script>
		<script src='{global.staticHost}../controllers/post.js'></script>
		<script src='{global.staticHost}../controllers/search.js'></script>
		<script src='{global.staticHost}../controllers/settings.js'></script>
		<script src='{global.staticHost}../controllers/tag.js'></script>
		<script src='{global.staticHost}../controllers/user.js'></script>
		<!-- <script src='http://192.168.1.125:9001/socket.js' async></script> -->
		<script src='http://127.0.0.1:9001/js/socket.js' async></script>
		<link rel='stylesheet' href='{global.staticHost}/stylesheet.css'>
	<% endelse %>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-42747905-1', 'sparklr.me'); ga('send', 'pageview');
	</script>
</head>

