<div class='contentwrapper'>
	<h2>inbox</h2>
	<?
		var found = false;
		for (var i = 0; i < it.length; i++) { 
			found = true;
			var msg = it[i];
			msg.img = imgUrl(msg.from.toString());
	?>
	<div style='position:relative;cursor:pointer;' onClick='chatWith("{msg.from}");'>
		<div class='rightcontrols'>
			<time class='float' datetime='{msg.time}'></time>
		</div>
		<img src='{msg.img}' class='avatar'><b>{getDisplayName(msg.from)}</b><br>
		{escapeHTML(msg.message)}<br><br>
	</div>
	<?
		}
		if (!found) {
	?>
	You don't have any messages from anyone!<br>To send a message, go to a user's profile page, and click Message.
	<?
		}
	?>
</div>
