<div class='contentwrapper'>
	<div style='text-align:center'>
		<b>Invite friends to join Sparklr</b>
		<br><br>
		Sparklr is more fun with friends!<br><br>
		<form onSubmit='inviteUser(to.value,sendbtn);return false;'>
			<input type='text' class='t1' id='inviteField' name='to' placeholder='friend@example.com'><br>
			<input type='submit' name='sendbtn' value='Send Invitation' style='width:290px'>
		</form>
		<br>
		<b>-or-</b><br><br>
		Use this link on IM, forums, social networking, etc.<br>
		<input type='text' value='https://sparklr.me/#/user/{CURUSER}' class='t1' onClick='this.select()'><br><br>
	</div>
</div>
