<div class='contentwrapper'>
	<script>
	if (data.type == 1) {
		data = processPostMeta(data);
	}
	</script>
	<% if (data.type == 1) %>
	<div class='picturepost' id='picturepost_{data.id}' onClick='showImage("{ data.img }");' style='background-image: url({imgUrl(data.img)});'></div>
	<% endif %>

	<div id='event_{data.id}' class='fadein' style='padding: 7px; margin: -5px' onClick='showEvent({data.id})'>
		<% if (data.from == curUser) %>
		<div class='commentcount delete icon' onClick='deletePost("{data.id}");stopBubbling();'></div>
		<% endif %>
		<div class='commentcount repost icon' onClick='repost("{data.id}");stopBubbling();'></div>
		<div class='commentcount like icon' id='likebtn' onClick='likeEvent("{data.id}","{data.from}", this);stopBubbling();'></div>
		<div style='display:inline-block;float:left;height:100%'>
			<img class='avatar' src='{getAvatar(data.from)}'>
		</div>
		<a href='#/user/{data.from}' class='person'>{getDisplayName(data.from)}</a><br>
		<div style='font-size: 13px;color:#999' class='time_raw' data-time='{data.time}'></div><br>
		{processPost(data)}
		<br>
	</div>
	<hr>
	<div id='responseholder'>
		<div id='comments_{data.id}' style='padding:5px;'></div>
		<div class='fadein' style='padding:5px;'>
			{ renderComposer('Respond...', 'postComment', true) }
		</div>
	</div>
	<div id='reblogholder' class='fadein' style='display:none;min-height:100px'>
		<div class='fadein' style='padding:5px;'>
			{ renderComposer('Share something (optional)', 'publishRepost', true, 'repostcomment') }
		</div>
		<input type='button' value='Repost to Followers' style='float: right' onClick='publishRepost();'>
	</div>
</div>

<script>
	currentPageType = "POST";
	subscribedStream = data.id;
	currentPostBy = data.from;
	setTimeout(function() { 
	for (var i = 0; i < data.comments.length; i++) {
		renderComment(data.comments[i]);
	}
	
	currentComments = data.comments;


	if (location.hash.indexOf("new") != -1) 
		_g('composer').focus();
	
	if (location.hash.indexOf("repost") != -1) 
		repost(data.id);

	renderTags(data);
	}, 0);

</script>

