<div class='contentwrapper'>
	<% if ($type == 1) %>
	<div class='picturepost full' id='picturepost_{$id}' onClick='showImage("{ imgUrl($img,true) }");'>
		<img src='{imgUrl($img)}'>
	</div>
	<% endif %>

	<div id='post_{$id}' class='fadein post'>
		<% if ($from == CURUSER || ISMOD) %>
		<div class='commentcount delete icon' onClick='deletePost("{$id}");stopBubbling();'></div>
		<% else %>
		<div class='commentcount delete icon' onClick='hidePost({$id},{$from});stopBubbling();'></div>
		<% endelse %>
		<div class='commentcount repost icon' onClick='repost("{$id}");stopBubbling();'></div>
		<div class='commentcount like icon' id='likebtn_{$id}' onClick='likePost("{$id}","{$from}", this);stopBubbling();'></div>
		<img class='avatar' src='{getAvatar($from)}'>
		<a href='#/user/{$from}' class='person'>{getDisplayName($from)}</a><br>
		<div class='time_raw' data-time='{$time}'></div><br>
		{$originalMessage}
		<span data-id='{$id}' <% if ($from == CURUSER) %> onclick='editPostStart(event)' onblur='editPost(event);'<% endif %>>
			{$formattedMessage}
		</span>
		<br>
	</div>
	<hr>
	<div id='responseholder_{$id}' class='commentholder'>
		<div id='comments_{$id}'></div>
		<div class='fadein'>
			{ renderComposer('Respond...', 'postComment', true, $id) }
		</div>
	</div>
	<div id='reblogholder_{$id}' class='fadein'>
		<div class='fadein'>
			{ renderComposer('Share something (optional)', 'publishRepost', true, 'r' + $id) }
		</div>
		<input type='button' value='Repost' data-id='r{$id}' onClick='publishRepost(event);'>
	</div>
</div>

