<h2>searching for: "{ unescape(location.hash.substring(9)).replace(/</g, '&lt;').replace(/>/g, '&gt;') }"</h2>
<% if (!$error && it !== false) %>
	<% if (!$users && !$posts) %>
		<b>No results</b><br>
		Feel free to use your imagination, though.
	<% endif %>
<% endif %>
<div class='grid'>
	<script>
		if ($users) {
			for (var i = 0; i < $users.length; i++) {
				USERHANDLES[$users[i].id] = $users[i].username;
	</script>
	<a href='/#/user/{$users[i].id}' style='color:#000'>
		<div style='background-image:url({imgUrl($users[i].id,true)})' class='friend'>
			<b>{getDisplayName($users[i].id)}</b>
		</div>
	</a>
	<script>
			}
		}
	</script>

	<% if ($posts) %>
		<div id='timeline_container'></div>
	<% endif %>
</div>
