<div class='contentwrapper'>
	 <h2>settings</h2>
	 <div id='sidebar_links'>
		  <a href='#/settings'>General</a>
		  <a href='#/settings/password'>Change Password</a>
		  <a href='#/settings/privacy'>Privacy</a>
		  <a href='#/settings/account'>Account</a>
	 </div>

	 <form class='settings' method='POST' target='datapusher' id='form_settings' onSubmit='updateAccountSettings();return false;void(0);'>
		  <% if (fragments[2] == "confirm") %>
		  <% endif %>
		  <% if (fragments[2] == "resend") %>
		  <% endif %>
		  <% if (fragments[2] == "password") %>
		  <fieldset>
				<label>Current password</label>
				<input type='password' name='currentpassword'> 
		  </fieldset>
		  <fieldset>
				<label>New password</label>
				<input type='password' name='password1'>
		  </fieldset>
		  <fieldset>
				<label>Confirm password</label>
				<input type='password' name='password2' onBlur='checkPasswords(this.value,password1.value);'>
		  </fieldset>
		  <% endif %>
		  <% if (fragments[2] == "privacy") %>
		  <fieldset>
				<input type='radio' name='private' id='public' value='0'<% if (!data.private) %>checked<% endif %> onclick='updateLists()'>
				<label for='public' class='radio'><b>Public</b><br>
					 <p>The following users are hidden from your dashboard.</p>
					 <div id='blacklist' style='margin:15px;padding-right:35px;display: {(data.private ? 'none' : 'block')}'>
					  <input onblur='showSuggestionBox(false);' onkeydown='return addUserToList_Keydown(event,0);' type='text' placeholder='Type a user to blacklist' style='margin:5px;width:400px' class='t1'>
					  </div>
				</label>
		  </fieldset>
		  <fieldset>
				<input type='radio' name='private' id='private' value='1'<% if (data.private) %>checked<% endif %> onclick='updateLists()'>
				<label for='private' class='radio'><b>Private</b><br>
					 <p>Only the following whitelisted users can see profile, posts, and respond to you.<br>
					 <div id='whitelist' style='margin:15px;padding-right:35px;display: {(data.private ? 'block' : 'none')}'>
						 <input onblur='showSuggestionBox(false);' onkeydown='return addUserToList_Keydown(event,1);' type='text' placeholder='Type a user to whitelist' style='margin:5px;width:400px' class='t1'>
					 </div>
					 </p>
				</label>
		  </fieldset>

		  <br><br>
		  <% endif %>
		  <% if (fragments[2] == "account") %>	
		  <b>Account Deletion</b><br>Once your account is removed, there's no going back.<br><br>
		  Type your password below to confirm:<br><input type='password' name='delete'><br><br>
		  <b>Warning: The button below is the point of no return</b><br><br>
		  <% endif %>
		  <% if (!fragments[2]) %>
		  <fieldset>
				<label>Username</label>
				<input type='text' name='username' value='{data.username}' onKeyUp='checkUsername(this.value)'>
				<br><span id='username_callback' class='error'></span>
		  </fieldset>
		  <fieldset>
				<label>Display name</label>
				<input type='text' name='displayname' value='{data.displayname}'>
		  </fieldset>
		  <fieldset>
				<label>Email</label>
				<input type='text' name='email' value='{data.email}'>
		  </fieldset>
		  <% endif %>
		  <input type='submit' id='savesettings' value='Save Settings'>
		  <span id='settings_result'></span>
	 </form>
</div>
<script>
	 USERHANDLES[curUser] = data.username;
	 setTimeout(function() {
		 var blacklist = (data.blacklist || "").split(",");
		 for (i in blacklist) {
			if (!blacklist[i]) continue;
			addUserToList(0, blacklist[i]);
		 }
		 var whitelist = (data.whitelist || "").split(",");
		 for (i in whitelist) {
			if (!whitelist[i]) continue;
			addUserToList(1, whitelist[i]);
		 }
	},1);

	window.updateLists = function() {
		if (_g("public").checked) {
			_g("blacklist").style.display = "block";
			_g("whitelist").style.display = "none";
		} else {
			_g("blacklist").style.display = "none";
			_g("whitelist").style.display = "block";
		}
	};
</script>
