<div class='contentwrapper'>
	<h2>settings</h2>

	<div class='tabs'>
		<a href='#/settings'<% if (!$page) %> class='active'<% endif %>>General</a>
		<a href='#/settings/password'<% if ($page == "password") %> class='active'<% endif %>>Change Password</a>
		<a href='#/settings/blacklist'<% if ($page == "blacklist") %> class='active'<% endif %>>Blacklist</a>
		<a href='#/settings/account'<% if ($page == "account") %> class='active'<% endif %>>Account</a>
	</div>

	<form class='settings' method='POST' target='datapusher' id='form_settings' onSubmit='updateAccountSettings();return false;void(0);'>
		<% if ($page == "password") %>
		<fieldset>
			<label>New password</label>
			<input type='password' name='password1'>
		</fieldset>
		<fieldset>
			<label>Confirm password</label>
			<input type='password' name='password2' onBlur='checkPasswords(this.value,password1.value);'>
		</fieldset>
		<% endif %>
		<% if ($page == "blacklist") %>
		<p>The following users are hidden from your dashboard, and blocked from messaging you.</p>
		<fieldset>
			<div id='blacklist'>
				<input onblur='showSuggestionBox(false);' onkeydown='return addUserToList_Keydown(event,0);' type='text' placeholder='Type a user to blacklist' class='t1'>
			</div>
		</fieldset>
		<br><br>
		<% endif %>
		<% if ($page == "account") %>	
		<b>Account Deletion</b><br>Once your account is removed, there's no going back.<br><br>
		Type your password below to confirm:<br><input type='password' name='delete'><br><br>
		<b>Warning: The button below is the point of no return</b><br><br>
		<% endif %>
		<% if (!$page) %>
		<fieldset>
			<label>Username</label>
			<input type='text' name='username' value='{{$username}}' onKeyUp='checkUsername(this.value)' required size=20 maxlength=20>
			<br><span id='username_callback' class='error'></span>
		</fieldset>
		<fieldset>
			<label>Display name</label>
			<input type='text' name='displayname' value='{{$displayname}}' required size=20 maxlength=20>
		</fieldset>
		<fieldset>
			<label>Email</label>
			<input type='email' name='email' value='{{$email}}' required>
		</fieldset>
		<% endif %>
		<% if ($page != 'blacklist') %>
		<input type='submit' id='savesettings' value='Save Settings'>
		<br>
		<span id='settings_result'></span>
		<% endif %>
	</form>
</div>
