<div id='newposts' onclick='showMissingPosts()'></div>
<div id='timeline_container'>
	<% if (subscribedStream != "0" && subscribedStream != "popular") %>
	<div class='timelineitem'>
		<div class='picturepost attachment' id='attachment'></div>
		{ renderComposer('Post something...', 'postToTimeline', false) }
	</div>
	<% else %>
	<div><!-- empty node --></div>
	<% endelse %>
	<div id="cssloader">
		<div class="blockG" id="rotateG_01">
		</div>
		<div class="blockG" id="rotateG_02">
		</div>
		<div class="blockG" id="rotateG_03">
		</div>
		<div class="blockG" id="rotateG_04">
		</div>
		<div class="blockG" id="rotateG_05">
		</div>
		<div class="blockG" id="rotateG_06">
		</div>
		<div class="blockG" id="rotateG_07">
		</div>
		<div class="blockG" id="rotateG_08">
		</div>
	</div>
</div>
