<% if (item.type == 1) %>
<div class='picturepost' id='picturepost_{item.id}'>
	<img src='{imgUrl(item.img)}'>
</div>
<% endif %>

<div id='commentcount_{ item.id }' class='commentcount' style='opacity:0'>+</div>
<div class='commentcount repost icon' style='display:none;opacity: 0;' onClick='showEvent("{item.id}","repost");stopBubbling();'></div>
<% if (item.from != curUser) %>
<div class='commentcount delete icon' style='opacity:0' onClick='hidePost({item.id},{item.from});stopBubbling();'></div>
<% endif %>
<div class='commentcount like icon' style='opacity: 0;' onClick='likeEvent("{item.id}","{item.from}", this);stopBubbling();'></div>

<div style='display:inline-block;float:left;height:100%'>
	<img class='avatar' src='{ getAvatar(item.from) }'>
</div> 
<div class='time' data-time='{item.time}'></div>
	
<a href='#/user/{ item.from }' class='person'>{ getDisplayName(item.from) }</a>

<% if (item.via !== null) %>
 via <a href='#/user/{ item.via }'>@{ getUserHandle(item.via) }</a>
<% endif %>

<% if (item.network !== null && item.network != 0 && item.network != 'everything') %>
 in <a href='#/{item.network}'>/{item.network}</a>
<% endif %>

<h2>@{getUserHandle(item.from)}</h2>
<div class='content' id='postcontent_{item.id}'>{item.originalMessage}{item.formattedMessage}</div>

