<% if (item.type == 1) %>
<div class='picturepost' id='picturepost_{item.id}' style='background-image: url({imgUrl(item.img)});'></div>
<% endif %>

<div id='commentcount_{ item.id }' class='commentcount' style='opacity:0'>+</div>
<div class='commentcount repost icon' style='opacity: 0;' onClick='showEvent("{item.id}","repost");stopBubbling();'></div>
<div class='commentcount like icon' style='opacity: 0;' onClick='likeEvent("{item.id}","{item.from}", this);stopBubbling();'></div>

<div style='display:inline-block;float:left;height:100%'>
	<img class='avatar' src='{ getAvatar(item.from) }'>
</div> 
<div class='time' data-time='{item.time}'></div>
	
<a href='#/user/{ item.from }' class='person'>{ getDisplayName(item.from) }</a>

<% if (item.via !== null) %>
 via <a href='#/user/{ item.via }'>@{ getUserHandle(item.via) }</a>
<% endif %>
<% if (item.network != "0") %>
 &gt; <a href='/#/{item.network}'>/{item.network}</a>
<% endif %>

<h2>@{getUserHandle(item.from)}</h2>
<div class='content'>{processPost(item)}</div>

