<div class='contentwrapper' style='margin: 12px 0px'>
	<h2>Announcements</h2>
	4/01/14 -- Orlando, Florida<br><br>

	Ivey Padgett and I, Jonathan Warner, have some exciting news to share! Sparklr.me, the community we have all seen grow and love, has successfully closed a deal with Tumblr, Inc., and the team under David Karp, where Sparklr will be sold to the before-mentioned parties for $500.<br><br>

	This is an exciting time for all of us, and we'd like to thank all our users for helping us get to where we are today. I'm excited for the future, as you should be, as Sparklr will now be getting the same level of quality treatment and community engagement as the famous Tumblr.com website.<br><br>

	I know change is scary, but believe us when we say it. Tumblr is here to stay, and through this buyout, Sparklr will soon become as awesome as a website as Tumblr has continued to be.<br><br>

	From the makers of Sparklr, we thank you, and hope you thoroughly enjoy these changes going forward!<br><br>

</div>
