<div style='margin: 12px 0px'>
	<h2>Popular Today</h2>
</div>

<script>
	for (var i = 0; i < $data.length; i++) {
		var item = $data[i];
		item = processPostMeta(item);
		if (hiddenPostList.indexOf(item.id) !== -1) continue;
		if (HIDDEN_USERS.indexOf(item.from.toString()) != -1) continue;
</script>
<div class='timelineitem' onclick='showPost("{item.id}")'>
<script>
		html += (function(){
			var html;
			eval(getTemplate("timelineitem"));
			return html;
		})();
</script>
</div>
<script>
	}
</script>

