<div class='contentwrapper'>
	<h2>Step 1: Follow</h2>
	To help you get started, here are some accounts we recommend.<br><br>
	<? for (i in data) { ?>
	<input type='button' style='float:right;' value='Follow' onClick='follow({data[i].id},true);this.style.opacity=0'>
	<img src="{ imgUrl(data[i].id.toString()) }" class='avatar'>
	<b>{data[i].displayname}</b><br>
	<i>{data[i].bio}</i>
	<br><br>
	<? } ?>
	<br><br>
	<div style='text-align:right'>
		<input type='button' value='Next' onClick='location.href="/#/user/" + CURUSER + "/step2"'>
	</div>
</div>
