<!DOCTYPE html>
<html>
<head>
<title>Sparklr</title>
<link rel='stylesheet' href='{global.commonHost}/external.css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<script src='{global.commonHost}/external.js'></script>
<script src='{global.commonHost}/ui.js'></script>
<script src='{global.commonHost}/data.js'></script>
<script>
	var STATICHOST = "{global.staticHost}";
	var COMMONHOST = "{global.commonHost}";
	var AUTHKEY, curUser;
</script>
</head>
<body>
<div id='signin'>
	<a href='#/signin'>sign in</a>
</div>
<div id='loading'></div>

<div id='staticcontent'>
	<div id='logo'></div>
	<div id='callback'></div>
	<div id='content'></div>
</div>
<div id='pages' style='display:none'>
	<div data-page="forgot">
		Nice to see you back.
		<form onSubmit='resetPassword(password); return false;'>
			<input type='password' name='password' placeholder='new password' class='t1' autofocus='autofocus'>
			<input type='submit' value='&gt;' class='s1'>
		</form>
	</div>
	<div id='loginform' data-page="signin">
		<form onSubmit='trySignin(username,password); return false;'>
			<input type='text' name='username' id='username' placeholder='email or username' class='t1' autofocus='autofocus'>
			<input type='password' name='password' placeholder='password' class='t1'>
			<input type='submit' value='&gt;' name='go' class='s1'>
		</form>
		<div id='forgot'><a href='javascript:forgotPassword();'>Forgot?</a></div>
		<a href='#'>Don't have an account?</a>
	</div>
	<div data-page="thankyou">
		<span>Thank you.</span><br><br>
		We'll let you know when we have more share.
	</div>
	<div data-page="signup">
		<span>Welcome to Sparklr</span><br><br>
		Let's get started.
		<form onSubmit='signUp(username,email,password,errors); return false;'>
			<input type='text' name='username' onblur='checkSignupForm(username,password,errors);' placeholder='username' class='t1' autofocus='autofocus'><br>
			<input type='email' name='email' placeholder='email' class='t1'><br>
			<input type='password' name='password' placeholder='password' class='t1'><br>
			<input type='submit' value='&gt;' name='go' class='s1'>
			<input type='hidden' name='errors'>
		</form>
	</div>
	<div id='page_default' data-page="info">
		<span>Sparklr is in closed preview.</span><br><br>
		Request an invite
		<form onSubmit='requestInvite(email); return false;'>
			<input type='text' name='email' id='email' placeholder='email address' class='t1' autofocus='autofocus'>
			<input type='submit' value='&gt;' name='go' class='s1'>
		</form>
	</div>
</div>
</body>
</html>
