<!-- Instancy-Luna -->
<!DOCTYPE html>
<html>
<head>
	<title>Instancy</title>
	<link rel='stylesheet' href='{global.commonHost}/app.css'>
	<script>
		var STATICHOST = "{global.staticHost}";
		var COMMONHOST = "{global.commonHost}";
	</script>
	<script src='{global.commonHost}/templates.js'></script>
	<script src='{global.commonHost}/out/templates.js'></script>
	<script src='{global.commonHost}/page.js'></script>
	<script src='{global.commonHost}/data.js'></script>
	<script src='{global.commonHost}/timeline.js'></script>
	<script src='{global.commonHost}/user.js'></script>
	<script src='{global.commonHost}/photos.js'></script>
	<script src='{global.commonHost}/chat.js'></script>
	<script src='{global.commonHost}/ui.js'></script>
	<script src='{global.commonHost}/notification.js'></script>
	<script src='{global.commonHost}/profile.js'></script>
	<script src='{global.commonHost}/app.js'></script>
</head>

