<div class='contentwrapper' style='margin:5px;width:570px;min-height:0px'>
<h2>"{ unescape(location.hash.substring(9)).replace(/</g, '&lt;').replace(/>/g, '&gt;') }"</h2>
	<% if (!data.users && !data.posts) %>
	<b>No results</b><br>
	Feel free to use your imagination, though.
	<% endif %>	<script>
		if (data.users) {
			for (var i = 0; i < data.users.length; i++) {
				USERHANDLES[data.users[i].id] = data.users[i].username;
	</script>
	<div class='friend fadein' onClick='location.href="#/user/{data.users[i].id}";' style='width: 282px;background-image: url({STATICHOST}/users/{data.users[i].id});-webkit-animation-duration: {(Math.random() * 1.5)}s'>
		<div style='position: absolute; bottom: 2px; right: 5px;'>
		</div>
		<span style='width:272px'>{getDisplayName(data.users[i].id) }</span>
	</div>
	<script>
			}
		}

		setTimeout(function() { 
			if (data.posts) {
				for (var i = 0; i < data.posts.length; i++) {
					addTimelineEvent(data.posts[i]);
				}
			}
		}, 0);
	</script>
</div>

<% if (data.posts) %>
	<div id='timeline_container'></div>
<% endif %>

