<script>
	if (data.error) {
		if (data.info.notFriends) {
			</script>
				<div class='contentwrapper'>
					<div style='text-align:center'>
						<img src='{getAvatar(fragments[2])}'>
					</div>
					<b>You do not have permission to view this profile</b>.<br>
					In order to view this page, {getUserHandle(fragments[2])} must whitelist you.
					<br><br>
					<input type='button' value='Request Whitelist' id='btnWhitelist' onClick='requestWhitelist({fragments[2]});'>
				</div>
			<script>
		} else {
			showBanner("An unknown error has occurred.", "statusmsg_ajaxerror");
		}
	} else {

	DISPLAYNAMES[data.user] = data.name;
	USERHANDLES[data.user] = data.handle;

	var pageType = fragments[3];

</script>
<% if (data.user == curUser) %>
<div id='profileheader' class='profileheader' onDrop='dropImage(event, avatarUploadCallback);' onDragEnter='dropPrevent(event);' onDragOver='dropPrevent(event);'>
	<% else %>
	<div class='profileheader' id='profileheader'>
		<% endelse %>
		<div id='sidebar_links'>
			<% if (data.user == curUser) %> 
			<a href='javascript:editProfile();' id='editBtn'>Edit</a>
			<a href='/#/settings'>Account Settings</a>
			<a href='javascript:signOff();'>Sign off</a>
			<% else %>
			<a href='javascript:mention("{data.handle}");'>Mention</a>
				<% if (data.following) %>	
					<a href='javascript:unfollow("{data.user}")'>Unfollow</a>
				<% else %>
					<a href='javascript:follow("{data.user}")'>Follow</a>
				<% endelse %>
			<% endelse %>
		</div>
		<p class='headertitle' id='userDisplayName'>{ getDisplayName(data.user) }</p>
		<p class='headersubtitle'>@{getUserHandle(data.user)}</p>
		<p class='headersubtitle' id='userBio'>{processMedia(data.bio.replace(/\n/g,'<br>'),true)}</p>
		<div id='userTip' style='display:none;position:absolute;bottom:10px;left:0px'><p class='headersubtitle'>Drag an image here, or <u>choose a file</u>
			<input type='file' style='opacity:0;position:absolute;left:50px' onchange='loadImage(this.files[0], avatarUploadCallback)'>
		</p></div>
		<div id='backgroundTip' style='display:none;position:fixed;bottom:10px;left:0px'><p class='headersubtitle'>Drag a background image here,<br> or <u>choose a file</u>
			<input type='file' style='opacity:0;position:absolute;left:0px' onchange='loadImage(this.files[0], backgroundUploadCallback)'><br>
			<a href='javascript:removeBackground();' id='removeBackground' style='<% if (!data.background) %>display: none;<% endif %>text-decoration:underline'>Remove background</a>
		</p></div>
		<div style='position:absolute;top:175px;right:3px;'>
			<input type='button' value='Posts' onClick='location.href="#/user/{data.user}/";'>
			<input type='button' value='Mentions' onClick='location.href="#/user/{data.user}/mentions";'>
			<input type='button' value='Photos' onClick='location.href="#/user/{data.user}/photos";'>
		</div>
	</div>
	<script>
		currentPageType = "STREAM";

		if (pageType == "photos")
			currentPageType = "PHOTO";
		if (pageType == "mentions")
			currentPageType = "MENTIONS";
	</script>
	<div id='timeline_container'></div>
	<script>
		setTimeout(function() {
				var arr = data.timeline;

				for(var i = arr.length-1; i >= 0; i--) {
					addTimelineEvent(arr[i]);
				}

				addTimelineArray(arr,subscribedStream);

				}, 10);
		}

		setTimeout(function() { 
			updateHeader(data.user,data.avatarid); 
			if (data.background)
				updateBackground(data.user,data.background);
		}, 0);

		subscribedStream = data.user;
		_g("content").style.minHeight = 0;

		document.body.ondrop = function(e) { 
			dropImage(e, backgroundUploadCallback); };
	</script>

