<script>
	if (data.error) {
		if (data.info.notFriends) {
			</script>
				<div class='contentwrapper'>
					<div style='text-align:center'>
						<img src='{getAvatar(fragments[2])}'>
					</div>
					<b>{getUserHandle(fragments[2])}</b> has a <b>private profile</b>.<br>
					In order to view this page, you and {getUserHandle(fragments[2])} must both be following each other.
					<br><br>
					<% if (data.info.following) %>
					You are following {getUserHandle(fragments[2])} and await his/her mutual follow.
					<br>
					<input type='button' value='Unfollow' onClick='unfollow({parseInt(fragments[2])})'>
					<% else %>
					<input type='button' value='Follow' onClick='follow({parseInt(fragments[2])})'>
					<% endelse %>
				</div>
			<script>
		} else {
			showBanner("An unknown error has occurred.", "statusmsg_ajaxerror");
		}
	} else {

	DISPLAYNAMES[data.user] = data.name;
	USERHANDLES[data.user] = data.handle;

	var isBoard = location.hash.indexOf("/board") != -1;
	var isPhotos = location.hash.indexOf("/photos") != -1;

	lastBoardTime = 0;
	oldestBoardTime = Number.MAX_VALUE;

</script>

<% if (data.user == curUser) %>
<div id='profileheader' class='profileheader' onDrop='dropImage(event, avatarUploadCallback);' onDragEnter='dropPrevent(event);' onDragOver='dropPrevent(event);'>
	<% else %>
	<div class='profileheader' id='profileheader'>
		<% endelse %>
		<div id='sidebar_links'>
			<% if (data.user == curUser) %> 
			<a href='javascript:editProfile();' id='editBtn'>Edit</a>
			<a href='javascript:accountSettings();'>Account Settings</a>
			<a href='javascript:signOff();'>Sign off</a>
			<% else %>
			<a href='javascript:mention("{data.handle}");'>Mention</a>
				<% if (data.following) %>	
					<a href='javascript:unfollow("{data.user}")'>Unfollow</a>
				<% else %>
					<a href='javascript:follow("{data.user}")'>Follow</a>
				<% endelse %>
			<% endelse %>
		</div>
		<p class='headertitle' id='userDisplayName'>{ getDisplayName(data.user) }</p>
		<p class='headersubtitle'>@{getUserHandle(data.user)}</p>
		<p class='headersubtitle' id='userBio'>{data.bio}</p>
		<div id='userTip' style='display:none;position:absolute;bottom:10px;left:0px'><p class='headersubtitle'>Drag and drop an image here</p></div>
		<div style='position:absolute;bottom:5px;right:3px;'>
			<input type='button' value='Posts' onClick='location.href="#/user/{data.user}/";'>
			<input type='button' value='Board' onClick='location.href="#/user/{data.user}/board";'>
			<input type='button' value='Photos' onClick='location.href="#/user/{data.user}/photos";'>
		</div>
	</div>
	<script>
		if (isBoard) {
			currentPageType = "BOARD";
			setTimeout(function() {
					for (var i=data.timeline.length-1;i>=0;i--) {
					addBoardItem(data.timeline[i], false);
					}
					setTimeout(showAddNote, 100);
					},0);
	</script>
	<div id='boardcontainer'></div>
	<script>
		} else {
			currentPageType = "STREAM";

			if (isPhotos)
				currentPageType = "PHOTO";
	</script>
	<div id='timeline_container'></div>
	<script>
		setTimeout(function() {
				var arr = data.timeline;

				for(var i = arr.length-1; i >= 0; i--) {
				addTimelineEvent(arr[i]);
				}

				addTimelineArray(arr,subscribedStream);

				updateCommentCounts(data.commentcounts);
				}, 10);
		}

setTimeout(function() { 
		updateHeader(data.user,data.avatarid,subscribedStream != data.user); 
		}, 0);
subscribedStream = data.user;
_g("content").style.minHeight = 0;

	}
	</script>

